<ion-view title="Desafios" cache-view="false">

  <!--<ion-content class="Gamebody">-->
  <ion-content class="APPmain">
    <ion-item ng-show="header" class="APPmain item-thumbnail-left item-borderless list-item">
     <img class="thumb_pantufas" src="img/pantufas_PIs/pantufas_explica.png"  style="width:80px;height:80px;">
      <p style="margin-left: -10px; margin-top: 0px;" align="center" class="textWrapSmall">Olá {{nivelAtual}}, aqui podes ver todos os teus títulos e recompensas assim como saber
        o que falta fazer para teres a pontuação máxima da quinta pedagógica! Queres melhorar o teu resultado? Neste momento estás com {{score}} pontos</p>
      <span ng-click="closeGameHeader()" class="captionDesafios" style="font-size: small">[<a href="" style="opacity:1;"
                                                                                         class="subdued button-small button-light ion-close"></a> ]
      </span>
    </ion-item>
    <ion-item class="item-borderless" style="margin-top: -10px;">
      <div class="container animated fadeIn">
        <span>Nível</span>
        <input type="radio" disabled class="radio" name="progress" value="five" id="zero" checked>
        <label for="zero" class="label">0</label>

        <input type="radio" disabled class="radio" name="progress" value="twentyfive" id="twentyfive">
        <label for="twentyfive" class="label">1</label>

        <input type="radio" disabled class="radio" name="progress" value="fifty" id="fifty">
        <label for="fifty" class="label">2</label>

        <input type="radio" disabled class="radio" name="progress" value="seventyfive" id="seventyfive">
        <label for="seventyfive" class="label">3</label>

        <input type="radio" disabled class="radio" name="progress" value="onehundred" id="onehundred">
        <label for="onehundred" class="label">4</label>

        <!--<input type="radio" disabled class="radio" name="progress" value="onehundred" id="onehundred">-->
        <!--<label for="onehundred" class="label">5</label>-->

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </ion-item>
<!-- Graficos com as percentagens das regiões e pis completos
    <ion-item class="item-borderless animated fadeIn">

      <div class="row">
        <div class="col animated tada">
          <div ng-controller="RadialCtrl" ng-init="initRadial('Regiões', 75, '6/8', 'regioes')">
            <div name="progress-pie-{{unique}}" class="progress-pie-chart">
              <span class="radialLabelRegioes">{{item}}</span>
              <div class="ppc-progress">
                <div name="progress-fill-{{unique}}" class="ppc-progress-fill"></div>
              </div>
              <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                  <span>{{caption}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col animated tada">
          <div ng-controller="RadialCtrl" ng-init="initRadial('Pontos de interesse', 35, '12/35', 'pontos')">
            <div name="progress-pie-{{unique}}" class="progress-pie-chart">
              <span class="radialLabelPontos">{{item}}</span>
              <div class="ppc-progress">
                <div name="progress-fill-{{unique}}" class="ppc-progress-fill"></div>
              </div>
              <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                  <span>{{caption}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
-->

    <div class="padding tab-game">
      <h3 align="center" style="margin-bottom: -10px;margin-top: -10px;">Estado dos teus desafios</h3>
      <br>
      <table class="table-fill">
        <tr>
          <th>REGIÃO</th>
          <th>PI</th>
          <th>QUIZ</th>
          <th>QR</th>
          <th>FOTO</th>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('A')"
                    class="button button-small APPcenter button-desafios {{game.RI_A.REGIAO ? 'button-balanced' : 'button-energized'}}">
              A
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('A')"
                    class="button button-small APPcenter button-desafios {{game.RI_A.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('A')"
                    class="button button-small APPcenter button-desafios {{game.RI_A.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('A')"
                    class="button button-small APPcenter button-desafios {{game.RI_A.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('A')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_A.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('B')"
                    class="button button-small APPcenter button-desafios {{game.RI_B.REGIAO ? 'button-balanced' : 'button-energized'}}">
              B
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('B')"
                    class="button button-small APPcenter button-desafios {{game.RI_B.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('B')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_B.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('B')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_B.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('B')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_B.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('C')"
                    class="button button-small APPcenter button-desafios {{game.RI_C.REGIAO ? 'button-balanced' : 'button-energized'}}">
              C
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('C')"
                    class="button button-small APPcenter button-desafios {{game.RI_C.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('C')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_C.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('C')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_C.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('C')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_C.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('D')"
                    class="button button-small APPcenter button-desafios {{game.RI_D.REGIAO ? 'button-balanced' : 'button-energized'}}">
              D
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('D')"
                    class="button button-small APPcenter button-desafios {{game.RI_D.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('D')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_D.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('D')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_D.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('D')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_D.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('E')"
                    class="button button-small APPcenter button-desafios {{game.RI_E.REGIAO ? 'button-balanced' : 'button-energized'}}">
              E
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('E')"
                    class="button button-small APPcenter button-desafios {{game.RI_E.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('E')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_E.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('E')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_E.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('E')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_E.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('F')"
                    class="button button-small APPcenter button-desafios {{game.RI_F.REGIAO ? 'button-balanced' : 'button-energized'}}">
              F
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('F')"
                    class="button button-small APPcenter button-desafios {{game.RI_F.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('F')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_F.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('F')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_F.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('F')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_F.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('G')"
                    class="button button-small APPcenter button-desafios {{game.RI_G.REGIAO ? 'button-balanced' : 'button-energized'}}">
              G
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('G')"
                    class="button button-small APPcenter button-desafios {{game.RI_G.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('G')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_G.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('G')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_G.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                       <td class="text-center">
            <button ng-click="goDesafios('G')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_G.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('H')"
                    class="button button-small APPcenter button-desafios {{game.RI_H.REGIAO ? 'button-balanced' : 'button-energized'}}">
              H
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapa('H')"
                    class="button button-small APPcenter button-desafios {{game.RI_H.PIS ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-location"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('H')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_H.QUIZ ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('H')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_H.QR ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-qr-scanner"></i>
            </button>
          </td>
                <td class="text-center">
            <button ng-click="goDesafios('H')"
                    class="button button-small balanced APPcenter button-desafios {{game.RI_H.FOTO ? 'button-balanced' : 'button-energized'}}">
              <i
                class="icon ion-camera"></i>
            </button>
          </td>
        </tr>

      </table>
    </div>

    <div class="desafios_help">

      <h4 align="center" style="margin-bottom: 0px; margin-top: 10px;">Títulos de progressão</h4>
      <div class="" ng-click="showDesafios_help()">
        <div>
          <table align="center" style="margin-top: 15px; margin-left: auto; margin-right: auto" >
          <tr align="center">
            <td><img class="startBadges" id="nivel11" src="img/game/badges/badge_nivel1.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="nivel21" src="img/game/badges/badge_nivel2.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="nivel31" src="img/game/badges/badge_nivel3.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="nivel41" src="img/game/badges/badge_nivel4.png" widtd="60" height="60"></td>
          </tr>
        </table>
        </div>
      </div>

    </div>

    <div class="desafios_help">

      <h4 align="center" style="margin-bottom: 0px; margin-top: 10px;">Títulos de exploração</h4>
      <div class="" ng-click="showDesafios_help()">
        <div>
          <table align="center" style="margin-top: 15px; margin-left: auto; margin-right: auto" >
          <tr align="center">
            <td><img class="startBadges" id="regioes" src="img/game/badges/badge_regioes.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="foto" src="img/game/badges/badge_foto.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="desafios" src="img/game/badges/badge_desafios.png" widtd="60" height="60"></td>
          </tr>
        </table>
        </div>
      </div>

    </div>

    <div class="desafios_help">

      <h4 align="center" style="margin-bottom: 0px; margin-top: 10px;">Recompensas</h4>
      <div class="" ng-click="showDesafios_help()">
        <div>
          <table align="center" style="margin-top: 15px; margin-left: auto; margin-right: auto" >
          <tr align="center">
            <td><img class="startBadges" id="reward_entrada" src="img/game/badges/badge_reward_entrada.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="reward_grupo" src="img/game/badges/badge_reward_grupo.png" widtd="60" height="60"></td>
            <td><img class="startBadges" id="reward_merchandize" src="img/game/badges/badge_reward_merchandize.png" widtd="60" height="60"></td>
          </tr>
        </table>
        </div>
      </div>

    </div>


    <div ng-controller="PopupCtrl"></div>
  </ion-content>

</ion-view>
