<ion-view title="Desafios" cache-view="false">

  <!--<ion-content class="Gamebody">-->
  <ion-content class="">
    <ion-item ng-show="header" class="APPmain item-thumbnail-left item-borderless list-item">
      <img class="" style="width: 65px;" src="img/galo_desenho.png"/>
      <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">Olá Explorador da Natureza, estas
        mesmo perto de seres o mestre do parque! Queres melhorar o teu resultado? {{score}} pontos</p>
      <span ng-click="closeGameHeader()" class="captionPIs" style="font-size: small">[<a href="" style="opacity:1;"
                                                                                         class="subdued button-small button-light ion-close"></a> ]
      </span>
    </ion-item>
    <ion-item class="item-borderless" style="margin-top: -10px;">
      <div class="container animated fadeIn">
        <span>Nível</span>
        <input type="radio" disabled class="radio" name="progress" value="five" id="zero" checked>
        <label for="zero" class="label">0</label>

        <input type="radio" disabled class="radio" name="progress" value="twentyfive" id="twentyfive">
        <label for="five" class="label">1</label>

        <input type="radio" disabled class="radio" name="progress" value="fifty" id="fifty">
        <label for="twentyfive" class="label">2</label>

        <input type="radio" disabled class="radio" name="progress" value="seventyfive" id="seventyfive">
        <label for="fifty" class="label">3</label>

        <input type="radio" disabled class="radio" name="progress" value="onehundred" id="onehundred">
        <label for="seventyfive" class="label">4</label>

        <!--<input type="radio" disabled class="radio" name="progress" value="onehundred" id="onehundred">-->
            <!--<label for="onehundred" class="label">5</label>-->

        <div class="progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </ion-item>

    <ion-item class="item-borderless animated fadeIn">

      <div class="row">
        <div class="col animated tada">
          <div ng-controller="RadialCtrl" ng-init="initRadial('Regiões', 75, '6/8', 'regioes')">
            <div name="progress-pie-{{unique}}" class="progress-pie-chart">
              <span class="radialLabelRegioes">{{item}}</span>
              <div class="ppc-progress">
                <div name="progress-fill-{{unique}}" class="ppc-progress-fill"></div>
              </div>
              <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                  <span>{{caption}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col animated tada">
          <div ng-controller="RadialCtrl" ng-init="initRadial('Pontos de interesse', 35, '12/35', 'pontos')">
            <div name="progress-pie-{{unique}}" class="progress-pie-chart">
              <span class="radialLabelPontos">{{item}}</span>
              <div class="ppc-progress">
                <div name="progress-fill-{{unique}}" class="ppc-progress-fill"></div>
              </div>
              <div class="ppc-percents">
                <div class="pcc-percents-wrapper">
                  <span>{{caption}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-item>


    <div class="padding tab-game">
      <h3 align="center" style="margin-bottom: -10px;margin-top: -10px;">Status dos teus desafios</h3>
      <br>
      <table class="table-fill">
        <tr>
          <th>REGIÃO</th>
          <th>PONTOS INTERESSE</th>
          <th>DESAFIOS</th>
          <th>QR CODE</th>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('A')" class="button button-small APPcenter button-desafios">A
            </button>
          </td>
          <td class="text-center"> 4/4</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('A')" class="button button-small APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('A')" class="button button-small APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('B')" class="button button-small APPcenter button-desafios">B
            </button>
          </td>
          <td class="text-center"> 5/5</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('B')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('B')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('C')" class="button button-small APPcenter button-desafios">C
            </button>
          </td>
          <td class="text-center"> 6/6</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('C')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('C')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('D')" class="button button-small APPcenter button-desafios">D
            </button>
          </td>
          <td class="text-center">3/3</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('D')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('D')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('E')" class="button button-small APPcenter button-desafios">E
            </button>
          </td>
          <td class="text-center"> 5/5</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('E')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('E')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('F')" class="button button-small APPcenter button-desafios">F
            </button>
          </td>
          <td class="text-center"> 2/2</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('F')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('F')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('G')" class="button button-small APPcenter button-desafios">G
            </button>
          </td>
          <td class="text-center"> 3/3</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('G')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('G')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <button ng-click="goMapa('H')" class="button button-small APPcenter button-desafios">H
            </button>
          </td>
          <td class="text-center"> 0/5</td>
          <td class="text-center">
            <button ng-click="goMapaQuizGame('H')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-clipboard"></i>
            </button>
          </td>
          <td class="text-center">
            <button ng-click="goMapaQRGame('H')" class="button button-small balanced APPcenter button-desafios"><i
              class="icon ion-qr-scanner"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>

</ion-view>
