<h4>Progressão de nível</h4>
<div style="width: 100%; height: 10px; box-shadow: 0 5px 10px -3px #999;"></div>
<div class="desafios_help" style="height: 260px; margin-bottom: -40px;">
  <ion-scroll scrollbar-y="true" style="height: 100%">
    <div>
      <br>
      <!--<h3>Progressão de nível</h3>-->
      <p style="text-align: left;">
        Estãos são os níveis que te permitem ver a tua progressão no desafio descobrir e interagir com a Quinta
        Pedagógica.
      </p>
      <br>
      <ul>
        <li>
        <!--  <h3 align="center">Curioso</h3> -->
          <img src="img/game/badges/badge_nivel1.png">
          <p style="text-align: left;">Já sabes como interagir com a aplicação para conseguires tirar o máximo partido da mesma. </p>
        </li>
        <br>
        <li>
      <!--    <h3 align="center">Aprendiz</h3> -->
          <img src="img/game/badges/badge_nivel2.png">
          <p style="text-align: left;">Queres aprender os segredos da Quinta. Interage com os elementos da quinta para ganhares pontos e passares
            de nível.</p>
        </li>
        <br>
        <li>
        <!--  <h3 align="center">Professor</h3>   -->
          <img src="img/game/badges/badge_nivel3.png">
          <p style="text-align: left;">Dominas a matéria, agora que és um professor, vais querer te tornar lendário. Completa os desafios e fica
            para sempre na história da Quinta.</p>
        </li>
        <br>
        <li>
    <!--      <h3 align="center">Mestre</h3> -->
          <img src="img/game/badges/badge_nivel4.png">
          <p style="text-align: left;">És o mestre! Depois de ti só o Cristiano Ronaldo, todos se vão lembrar de ti quando voltares</p>
        </li>
      </ul>
    </div>

    <div>
      <br>
      <h3>Badges</h3>
      <p style="text-align: left;">Existem algumas tarefas que te podem dar um ´título muito especial, descobre aqui o
        que tens de fazer para ganhar esses títulos.</p>
      <br>
      <ul>
        <li>
      <!--    <h3 align="center">Falcão</h3> -->
          <img src="img/game/badges/badge_regioes.png">
          <p style="text-align: left;">Para teres este título, tens de descobrir todas as regiões da quinta.</p>
        </li>
        <br>
        <li>
      <!--    <h3 align="center">Mocho</h3> -->
          <img src="img/game/badges/badge_desafios.png">
          <p style="text-align: left;">Para teres este título, tens de acertar em todos os desafios que te propomos.</p>
        </li>
        <br>
        <li>
      <!--    <h3 align="center">Raposa</h3> -->
          <img src="img/game/badges/badge_foto.png">
          <p style="text-align: left;">Para teres este título, tens de tirar pelo menos uma foto em cada região para o teu diário.</p>
        </li>
      </ul>
    </div>
    <div>
      <br>
      <h3>Recompensas</h3>
      <p style="text-align: left;">O teu esforço e dedicação vai ser recompensado, descobre aqui o quais as combinações
        que tens de fazer e que recompensas podes ganhar.</p>
      <br>
      <ul>
        <li>
          <h3 align="center">Desconto na entrada do SNP</h3>
          <img src="img/mapa/marcadores/RI_A_90_orange.png">
          <p style="text-align: left;">Assim que ganhes o título de explorador da natureza, ficas de imediato com um desconto de 50% na tua
            entrada no SNP.</p>
        </li>
        <br>
        <li>
          <h3 align="center">Desconto na entrada para grupo de 4 pessoas no SNP</h3>
          <img src="img/game/badges/reward_generico.png">
          <p style="text-align: left;">Para teres esta recompensa, tens de possuir todos os títulos de exploração</p>
        </li>
        <br>
        <li>
          <h3 align="center">Merchandizing SNP </h3>
          <img class="displayed" src="img/game/badges/reward_generico.png">
          <p style="text-align: left;">Assim que chegas ao último nível ficas com direito ao marchandizing do SNP.</p>
        </li>
      </ul>
    </div>
  </ion-scroll>
</div>
