<ion-view view-title="Sesimbra Natura Park">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="img-responsive" src="img/SNP_background_intro.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>


      <div class="APPmain">
        <!--<ion-scroll direction="y">-->

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: justify;">
              A Sesimbra Natura Park é&nbsp;um espaço de recreio e lazer,&nbsp;com 867Ha,&nbsp;destinado ao
              usufruto turístico da Natureza.&nbsp;Oferece um conjunto de atividades centradas na utilização
              sustentável dos recursos naturais e apoiadas por infraestruturas que garantem segurança e bem-estar.&nbsp;
            </p>
            <br>
            <p style="text-align: justify;">
              A Sesimbra Natura Park é&nbsp;um espaço de recreio e lazer,&nbsp;com 867Ha,&nbsp;destinado ao usufruto
              turístico da Natureza.&nbsp;Oferece um conjunto de atividades centradas na utilização sustentável dos
              recursos naturais e apoiadas por infraestruturas que garantem segurança e bem-estar.&nbsp;
            </p>
          </div>

          <ion-item class="item-thumbnail-left list-item animated fadeInUpBig">
            <!--<div class="mascoteAvatarDesenho">-->
            <img ng-src="img/galo_desenho.png" class="">
            <h2 class="">Anda visitar-nos!</h2>
            <!--<p class="textWrap">{{item.description}}</p>-->
            <!--<h4 class="textWrap">Descobre todas as atividades</h4>-->
            <button class="button button-small button-calm" ng-click="goAtividades()">Descobre todas as atividades
            </button>
            <!--<ion-option-button class="button-info"-->
            <!--ng-click="edit(item)">-->
            <!--Edit-->
            <!--</ion-option-button>-->
            <!--<ion-delete-button class="ion-minus-circled"-->
            <!--ng-click="items.splice($index, 1)">-->
            <!--</ion-delete-button>-->
            <!--<ion-reorder-button class="ion-navicon"-->
            <!--on-reorder="reorderItem(item, $fromIndex, $toIndex)">-->
            <!--</ion-reorder-button>-->
          </ion-item>
          <!--</div>-->
          <!--<ion-item ng-repeat="item in myItems"-->
          <!--class="repeated-item item-thumbnail-left">-->

          <!--<img ng-src="{{item.img}}">-->
          <!--<h2>{{item.title}}</h2>-->
          <!--&lt;!&ndash;<p class="textWrap">{{item.description}}</p>&ndash;&gt;-->
          <!--<h4 class="textWrap">{{item.description}}</h4>-->
          <!--<ion-option-button class="button-positive"-->
          <!--ng-click="share(item)">-->
          <!--Share-->
          <!--</ion-option-button>-->
          <!--&lt;!&ndash;<ion-option-button class="button-info"&ndash;&gt;-->
          <!--&lt;!&ndash;ng-click="edit(item)">&ndash;&gt;-->
          <!--&lt;!&ndash;Edit&ndash;&gt;-->
          <!--&lt;!&ndash;</ion-option-button>&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-delete-button class="ion-minus-circled"&ndash;&gt;-->
          <!--&lt;!&ndash;ng-click="items.splice($index, 1)">&ndash;&gt;-->
          <!--&lt;!&ndash;</ion-delete-button>&ndash;&gt;-->
          <!--&lt;!&ndash;<ion-reorder-button class="ion-navicon"&ndash;&gt;-->
          <!--&lt;!&ndash;on-reorder="reorderItem(item, $fromIndex, $toIndex)">&ndash;&gt;-->
          <!--&lt;!&ndash;</ion-reorder-button>&ndash;&gt;-->

          <!--</ion-item>-->
        </ion-list>

        <!--<div class="list">-->
        <!---->
        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->
        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->
        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--<ion-item class="item">-->
        <!--hello-->
        <!--</ion-item>-->

        <!--</div>-->

        <!--</div>-->
        <!--</ion-scroll>-->
      </div>

      <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
