<ion-view view-title="Debug">
  <ion-content padding="true" class="padding" scroll="true" direction="y">
    <img ng-click="showDesafios_help()" class="" style="width: 65px;" src="img/galo_desenho.png"/>
    <!--<a class="button button-block button-calm" href="#/tab/dash">Homepage</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/game_help">Desafios Ajuda</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_A">Go To Regiao A</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_B">Go To Regiao B</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_C">Go To Regiao C</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_D">Go To Regiao D</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_E">Go To Regiao E</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_F">Go To Regiao F</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_G">Go To Regiao G</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_H">Go To Regiao H</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_20">Go To /RI_E/PI_20</a>-->

    <!--<a class="button button-block button-calm" href="#/tab/ibeacon">Go To ibeacon Tab</a>-->
    <a class="button button-block button-calm" href="#/tab/bcreader">Go To bcreader Tab</a>
    <!--<a class="button button-block button-calm" href="templates/popups/desafio_nok.html">desafio_nok</a>-->
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/RI_B_Q">Questionário RI_B</a>
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_C/RI_C_Q">Questionário RI_C</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_D/RI_D_Q">Questionário RI_D</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_E/RI_E_Q">Questionário RI_E</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_F/RI_F_Q">Questionário RI_F</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_G/RI_G_Q">Questionário RI_G</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_H/RI_H_Q">Questionário RI_H</a>-->
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_1">Ponto de
      interesse 1</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_2">Ponto de interesse 2</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_3">Ponto de interesse 3</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_4">Ponto de interesse 4</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/PI_5">Ponto de interesse 5</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/PI_6">Ponto de interesse 6</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/PI_7">Ponto de interesse 7</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/PI_8">Ponto de interesse 8</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_B/PI_9">Ponto de interesse 9</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_10">Ponto de interesse 10</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_11">Ponto de interesse 11</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_12">Ponto de interesse 12</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_13">Ponto de interesse 13</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_14">Ponto de interesse 14</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_C/PI_15">Ponto de interesse 15</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_16">Ponto de interesse 16</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_17">Ponto de interesse 17</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_18">Ponto de interesse 18</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_19">Ponto de interesse 19</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_20">Ponto de interesse 20</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_21">Ponto de interesse 21</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_22">Ponto de interesse 22</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_23">Ponto de interesse 23</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_F/PI_24">Ponto de interesse 24</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_F/PI_25">Ponto de interesse 25</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_26">Ponto de interesse 26</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_27">Ponto de interesse 27</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_28">Ponto de interesse 28</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_H/PI_29">Ponto de interesse 29</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_H/PI_30">Ponto de interesse 30</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_H/PI_31">Ponto de interesse 31</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_H/PI_32">Ponto de interesse 32</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_H/PI_33">Ponto de interesse 33</a>
    <!--<a class="button button-block button-calm" href="#/tab/sqllite">Go To sqllite Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/tdcards/ALL/">Go To tdcards Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/">Go regiao/ALL/</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/intro">Introdução</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/camera">Camera test</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/login">Login</a>-->
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
