<ion-view view-title="Diário">
  <ion-floating-button class="animated bounce" click="takePicture()" has-footer="true" button-color="#2AC9AA"
                       icon="ion-camera" iconColor="#fff">
  </ion-floating-button>
  <ion-content class="has-header has-tabs" overflow-scroll="false">
    <div class="container-fluid">
      <timeline side="left">
        <!-- can also hard-code to side="left" or side="right" -->
        <timeline-event ng-repeat="event in events" side="left">
          <!-- uses angular-scroll-animate to give it some pop -->
          <timeline-badge class="tm tm-scroll {{event.badgeClass ? event.badgeClass : 'bg-dark' }} timeline-hidden"
                          when-visible="animateElementIn" when-not-visible="animateElementOut">
            <i ng-if="event.badgeIconClass" class="glyphicon {{event.badgeIconClass}}"></i>
            <img ng-if="event.id" class="userAvatar" ng-src="{{$root.APP.user.picture}}">

          </timeline-badge>

          <!-- uses angular-scroll-animate to give it some pop -->
          <timeline-panel class="{{event.badgeClass}} tm timeline-hidden"
                          when-visible="animateElementIn" when-not-visible="animateElementOut" style="margin-right: 5px; margin-top: 5px">
            <!--<i ng-click="showCaption($index)" class="caption icon icon ion-edit img-thumbnail"></i>-->
            <button ng-if="event.edit" class="caption button-small button-icon icon ion-compose" ng-click="showCaption($index)"></button>
            <timeline-heading>

              <!--<div class="row">-->
                <div><h4>{{event.title}}</h4></div>
                <!--<div ng-if="event.image_src"><i ng-click="showCaption($index)" class = "icon icon ion-edit img-thumbnail"></i></div>-->
                <!--<div <i ng-click="showCaption($index)" class = "icon icon ion-edit img-thumbnail"></i></div>-->
                <!--<div>-->

                <!--</div>-->
              <!--</div>-->

              <p ng-if="event.when">
                <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
              </p>
              <p ng-if="event.titleContentHtml" ng-click="showImages($index)" ng-bind-html="event.titleContentHtml">
              <!--<p ng-if="event.image_src" ng-click="showImages($index)" ng-bind-html="event.titleContentHtml">-->
              </p>
            </timeline-heading>
            <p ng-bind-html="event.contentHtml"></p>
            <timeline-footer ng-if="event.footerContentHtml">
              <span ng-bind-html="event.footerContentHtml"></span>
            </timeline-footer>
          </timeline-panel>
        </timeline-event>
      </timeline>
    </div>
  </ion-content>

</ion-view>


