<ion-view view-title="Introdução" cache-view="false">
  <ion-content scroll="false" class="padding has-tabs has-header">
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <ion-content class="has-tabs padding">
          <h3 align="center">BENVINDO!</h3>
          <p class="APPcenter" align="center">
          Eu sou o habitante mais famoso da Quinta Pedagógica e chamo-me Pantufas!
          </p>
          <div id="logo1">
            <img src="img/pantufas_PIs/pantufas_apresenta.png" style="margin:auto;display:block;padding-bottom:10px;width:250px;height:250px;">
            <!--<img src="img/SNP.jpg">-->
          </div>
          <p class="APPcenter" align="center">
            Eu vou acompanhar-te em toda a visita e vou
            contar-te muitas coisas interessantes para tornar a tua visita verdadeiramente inesquecível!
          </p>
          <p class="APPcenter" align="center">
            Vou começar por te mostrar o que podes esperar desta visita.
          </p>
        </ion-content>
      </ion-slide>
      <ion-slide>
        <ion-content class="has-tabs padding">
          <h3 align="center">DESCOBRE</h3>
          <p class="APPcenter" align="center">
            Nós estamos no Sesimbra Natura Park!
          </p>
          <div id="logo2">
              <img src="img/pantufas_PIs/pantufas_aponta.png" style="margin:auto;display:block;padding-bottom:10px;width:250px;height:250px;">
            <!--<img src="img/SNP.jpg">-->
          </div>
          <p class="APPcenter" align="center">
            Descobre todas as atividades que podes fazer em contacto com a Natureza em segurança, onde tens animais amigáveis, água, árvores e lugares muito bonitos!
          </p>
        </ion-content>
      </ion-slide>
      <ion-slide>
        <ion-content class="has-tabs padding">

          <h3 align="center">APRENDE</h3>
          <p class="APPcenter" align="center">
            Em cada região podes encontrar vários pontos de interesse.
          </p>
          <div id="logo3">
              <img src="img/pantufas_PIs/pantufas_professor.png" style="margin:auto;display:block;padding-bottom:10px;width:250px;height:250px;">
          </div>
          <p class="APPcenter" align="center">
            Aprende e fica a conhecer mais sobre os animais e plantas que habitam na Quinta Pedagógica!
          </p>

        </ion-content>
      </ion-slide>
      <ion-slide>
        <ion-content class="has-tabs padding">
          <!--<p align="justify">-->
          <!--Este botão tem duas opções, se o utilizador estiver ligado, o mesmo é redirecionado para a tab de Atividades.-->
          <!--Se não estiver logged, redireciona para o login.-->
          <!--</p>-->
          <!--<a class="button button-calm" ng-hide=$root.APP.logged href="#/tab/login">Concluido - Login</a>-->
          <!--<a class="button button-calm" ng-show=$root.APP.logged href="#/tab/atividades">Concluido - Atividades</a>-->

          <h3 align="center">DIVERTE-TE</h3>
          <p class="APPcenter":align="center">
            Para tornar a tua experiência ainda mais interessante e mais rica, preparei um conjunto de desafios para ti.
          </p>
          <div id="logo4">
              <img src="img/pantufas_PIs/pantufas_fome.png" style="margin:auto;display:block;padding-bottom:10px;width:250px;height:250px;">
          </div>
          <br>
          <p class="APPcenter" align="center">
            Com estes desafios podes aprender muitas coisas a brincar! Descobre as várias regiões de uma forma divertida.
          </p>

        </ion-content>
      </ion-slide>

      <ion-slide>
        <ion-content class="has-tabs padding">

          <h3 align="center">RECORDA</h3>
          <p class="APPcenter" align="center">
            Eu gosto muito de fotografias... Especialmente naquelas onde eu apareço com a minha linda crista!
          </p>
          <div id="logo">
              <img src="img/pantufas_PIs/pantufas_certo.png" style="margin:auto;display:block;padding-bottom:10px;width:250px;height:250px;">
          </div>
          <p class="APPcenter" align="center">
            Tira todas as fotos que quiseres para mais tarde recordares os momentos mais importantes da tua visita!
          </p>

          <!--<p align="justify">-->
          <!--Este botão tem duas opções, se o utilizador estiver ligado, o mesmo é redirecionado para a tab de Atividades.-->
          <!--Se não estiver logged, redireciona para o login.-->
          <!--</p>-->
          <button ng-click="goLogin()" ng-hide=$root.APP.logged class="button button-small button-next-new APPcenter">Iniciar Sessão</button>
          <button ng-click="goHome()" ng-show=$root.APP.logged class="button button-small button-next-new APPcenter">Concluído</button>

        </ion-content>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
