<ion-view title="Desafios" cache-view="false">

  <!--<ion-content class="Gamebody">-->
  <ion-content class="">

    <div class=""
    <h2 align="left">Progressão de nível</h2>
 <p style="text-align: left;">
           Estes são os níveis que te permitem ver a tua progressão no desafios e interações que tens com a quinta pedagógica.
 </p>

 <table style="tabela-header" width="409" border="1">
         <tr>
           <td width="101"><div align="center"><img src="img/badges/badge_nivel1.png" width="75" height="81" alt=""></div></td>
           <td width="292"><div align="left"><h4>Aprendiz</h4>
          <p style="text-align: left;">
          Este é o primeiro nível onde vais aprender como interagir com a aplicação para conseguires tirar o máximo partido da mesma.
          </p>
           </div></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_nivel2.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><h4>Explorador da natureza</h4>
           <p style="text-align: left;">Preparado para explorar, interage com os elementos da quinta para ganhares pontos e passares de nível</p></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_nivel3.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><h4>Mestre da Quinta</h4>
           <p style="text-align: left;"> Dominas a máteria, agora que és mestre, vais querer te tornar lendário. Completa os desafios e fica para sempre na história da quinta,</p></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_nivel4.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><h4>O Lendário</h4>
           <p style="text-align: left;">És o lendário, depois de ti só o Cristiano Ronaldo, todos se vão lembrar de ti quando voltares. </p></td>
         </tr>
       </table>
 </div>


      <h2 align="left"><h2>Badges</h2>

 <p style="text-align: left;">Existem algumas tarefas que te podem dar um título muito especial, descobre aqui o que tens de fazer para ganhar esses títulos</p>

 <table style="tabela-header" width="417" border="1">
         <tr>
           <td width="101"><div align="center"><img src="img/badges/badge_regioes.png" width="75" height="81" alt=""></div></td>
           <td width="300"><div align="left">
             <h4>Sherlock Holmes</h4>
          <p style="text-align: left;">
          Para teres este título, tens de descobrir todas as regiões da quinta
          </p>
           </div></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_desafios.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><h4>Sabichão</h4>
           <p style="text-align: left;">Para teres este título, tens de acertar em todos os desafios que te propomos.</p></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_foto.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><h4>Fotógrafo da Quinta</h4>
           <p style="text-align: left;">Para teres este título, tens de acertar de tirar pelo menos uma foto em cada região para o teu diário.</p></td>
         </tr>
 </table>


 <h2 align="left">Recompensas</h2>
 <p style="text-align: left;">O teu esforço e dedicação vai ser recompensado, descobre aqui o quais as combinações que tens de fazer e que recompensas podes ganhar.</p>


 <table style="tabela-header" width="687" border="1">
         <tr>
           <td width="101"><div align="center"><img src="img/badges/badge_nivel2.png" width="75" height="81" alt=""></div></td>
           <td width="84">&nbsp;</td>
           <td width="86">&nbsp;</td>
           <td width="86">&nbsp;</td>
           <td width="296"><div align="left">
             <h4>DESCONTO NA ENTRADA DO SNP</h4>
          <p style="text-align: left;">
          Assim que ganhes o título de explorador da natureza, ficas de imediato com um desconto de 50% na tua entrada no SNP.
          </p>
           </div></td>
         </tr>
         <tr>
           <td><div align="center">
             <div align="center"><img src="img/badges/badge_foto.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><img src="img/badges/badge_regioes.png" width="75" height="81" alt=""></td>
           <td><img src="img/badges/badge_desafios.png" width="75" height="81" alt=""></td>
           <td>&nbsp;</td>
           <td><h4>DESCONTO NA ENTRADA PARA GRUPO DE 4 PESSOAS NO SNP</h4>
           <p style="text-align: left;">Preparado para explorar, interage com os elementos da quinta para ganhares pontos e passares de nível</p></td>
         </tr>
         <tr>
           <td height="99"><div align="center">
             <div align="center"><img src="img/badges/badge_nivel1.png" width="75" height="81" alt=""></div>
           </div></td>
           <td><img src="img/badges/badge_nivel2.png" width="75" height="81" alt=""></td>
           <td><img src="img/badges/badge_nivel3.png" width="75" height="81" alt=""></td>
           <td><img src="img/badges/badge_nivel4.png" width="75" height="81" alt=""></td>
           <td><h4>MERCHANDIZING SNP</h4>
           <p style="text-align: left;"> Assim que atinges o título de lendário, vais poder escolher 1 brinde do marchandizing do SNP (indicar quais as opções)</p></td>
         </tr>
       </table>
    </div>

  </ion-content>

</ion-view>
