<ion-view view-title="Journal">
  <ion-content padding="true" class="padding">
    <button ng-click="takePicture()" class="button button-block button-calm">Take Photo</button>
    <!--<img ng-src="file:///var/mobile/Containers/Data/Application/46281AB5-3232-4EFB-930A-3ED318091433/Documents/images/1469381804942.jpg" style="max-width: 100%; height: auto;">-->
    <!--<img ng-src="file:///data/data/com.ionicframework.example250341/files/files/images/1469053245802.jpg" style="max-width: 100%; height: auto;">-->
    <img ng-src="{{lastPhoto}}" style="max-width: 100%; height: auto;">
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
