<ion-view view-title="Mapa">
  <ion-content padding="true" class="padding">
    <ion-item class="item">
      <button type="button" class="button button-block button-assertive">{{$root.currentRI}}</button>
    </ion-item>
    <div class="animated fadeIn">
      <canvas id="imageView"></canvas>
    </div>
    <ion-item class="item">
      <p>Nome Região de interesse: {{nome}}</p>
    </ion-item>
    <ion-item class="item">
      <p>Região desbloqueada: {{locked}}</p>
    </ion-item>
    <ion-item class="item">
      <button type="button" ng-click="unlock_regiao()" class="button button-balanced APPcenter">Desbloquear Regiao D
      </button>
    </ion-item>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
