<ion-view view-title="Sesimbra Natura Park">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="img-responsive" src="img/SNP_background_intro.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
        <!--<img class="responsive animated fadeIn" src="img/SNP_background_intro.jpg">-->
        <!--<img class="img-responsive animated slideInUp" src="img/SNP_background_intro.jpg">-->
      </div>


      <div class="APPmain padding animated fadeInUpBig">
        <!--<ion-scroll direction="y">-->

        <ion-list class="list-borderless">
          <div class="list-item padding">
            <p style="text-align: left;">
              A Sesimbra Natura Park é&nbsp;um espaço de recreio e lazer,&nbsp;com 867Ha,&nbsp;destinado ao
              usufruto turístico da Natureza.&nbsp;Oferece um conjunto de atividades centradas na utilização
              sustentável dos recursos naturais e apoiadas por infraestruturas que garantem segurança e bem-estar.&nbsp;
            </p>
            <br>
            <p style="text-align: left;">
              A Sesimbra Natura Park é&nbsp;um espaço de recreio e lazer,&nbsp;com 867Ha,&nbsp;destinado ao usufruto
              turístico da Natureza.&nbsp;Oferece um conjunto de atividades centradas na utilização sustentável dos
              recursos naturais e apoiadas por infraestruturas que garantem segurança e bem-estar.&nbsp;
            </p>
          </div>

          <ion-item class="item-thumbnail-left list-item">
            <!--<div class="mascoteAvatarDesenho">-->
            <img ng-src="img/galo_desenho.png" class="">
            <h2 class="newFont">Anda visitar-nos!</h2>
            <!--<p class="textWrap">{{item.description}}</p>-->
            <!--<h4 class="textWrap">Descobre todas as atividades</h4>-->
            <button class="button button-small button-calm" ng-click="goAtividades()">Descobre todas as atividades
            </button>
          </ion-item>
          <!--</div>-->
        </ion-list>
      </div>
    </div>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
