<ion-view view-title="Atividades">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/snp_projeto_02_small.jpg"
             ng-image-appear responsive transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/snp_projeto_02_small.jpg">-->
        <!--<img class="animated slideInUp" src="img/snp_projeto_02_small.jpg">-->
      </div>

      <div class="APPmain animated fadeInUpBig padding">
        <ion-list class="list-borderless">
          <!--<div class="list-item animated fadeInUpBig padding">-->
            <!--<h4 align="center">ARBORISMO</h4>-->
            <ion-item ng-click="goAtividadesDetalhe(item)" ng-repeat="item in Items"
                      class="item-thumbnail-left item-icon-right">

              <img ng-src="{{::item.img}}">
              <h2>{{::item.title}}</h2>
              <h4 class="textWrap">{{::item.description}}</h4>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <p>
                <a href="#" class="subdued">{{item.likes ? item.likes : '?' }} likes</a>
                <a href="" ng-click="clickedLike(item)" stop-event="click" ion-stop-event="click" class="enable-pointer-events {{ item.like ? 'assertive' : 'subdued'}} button-small button-light ion-heart"></a>
              </p>
              <ion-option-button class="button-positive"
                                 ng-click="clickedLike(item)">
                Like
              </ion-option-button>

            </ion-item>
          <!--</div>-->

        </ion-list>

      </div>
    </div>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
