<ion-view view-title="Definições">
  <ion-content>
    <ion-list>
      <ion-toggle ng-change="toggleChange()" ng-model="enableBeacons">
        Ativar Localizacao na Quinta
      </ion-toggle>
      </ion-list>
      <ion-item class="item">
        <p align="center">Ligaçao: {{$root.netWorktype}} isOnline: {{$root.isOnline}}</p>
        <p align="center">Utilizador Logged: {{$root.APP.logged}}</p>
      </ion-item>
      <ion-item class="item">
        <p align="center">
          Nome: {{profile_name}}
        </p>
        <p align="center">
          Email: {{profile_email}}
        </p>
        <p align="center">
          userID: {{$root.APP.userID}}
        </p>
        <p>
          <img id="fb_photo" class="animated fadeIn APPcenter" ng-src="{{profile_photo}}" style="height: 100px;">
        </p>
      </ion-item>
      <!--<ion-toggle ng-model="settings.enableFriends">-->
      <!--Ativar  Friends-->
      <!--</ion-toggle>-->
      <ion-item class="animated fadeIn item">
        <div class="button-bar">
          <a class="button button-calm" href="#/tab/intro">Ver a intro</a>
          <a class="button button-assertive" href="#/tab/debug">Debug</a>
        </div>
      </ion-item>
    <!--</ion-list>-->
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
