<ion-view view-title="Ibeacon">
  <ion-content padding="true" class="padding">
    <ion-item class="item">
      <button type="button" class="button button-block button-assertive">{{$root.closestRI}}</button>
      <button type="button" class="button button-block button-assertive">{{$root.currentRI}}</button>
    </ion-item>

    <ion-list>
      <ion-item class="item" ng-repeat="(key, value) in beacons" type="item-text-wrap">
        <p>Nome: {{value.nome}}</p>
        <p>UUID: {{value.uuid}}</p>
        <p>major: {{value.major}}</p>
        <p>minor: {{value.minor}}</p>
        <p>accuracy: {{value.accuracy}}m</p>
        <p>rssi: {{value.rssi}}</p>
        <p>Proximity: {{value.proximity}}</p>
      </ion-item>
    </ion-list>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
