<ion-view title="Desafios Help" cache-view="false">

  <!--<ion-content class="Gamebody">-->
  <ion-content class="desafios_help">
    <div>
      <div>
        <h3>Progressão de nível</h3>
        <p style="text-align: left;">
          Estes são os níveis que te permitem ver a tua progressão no desafios e interações que tens com a quinta
          pedagógica.
        </p>

        <ul>
          <li align="center">
            <h3>Aprendiz</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_nivel1.png" width="90" height="90">
          </div>
          <li>
            <p>Este é o primeiro nível onde vais aprender como interagir com a aplicação para conseguires tirar o máximo
              partido da mesma. </p>
          </li>
          <li align="center">
            <h3>Explorador da Natureza</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_nivel2.png" width="90" height="90">
          </div>
          <li>
            <p>Preparado para explorar, interage com os elementos da quinta para ganhares pontos e passares de nível</p>
          </li>
          <li align="center">
            <h3>Mestre da Quinta</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_nivel3.png" width="90" height="90">
          </div>
          <li>

            <p>Dominas a máteria, agora que és mestre, vais querer te tornar lendário. Completa os desafios e fica para
              sempre na história da quinta</p>
          </li>
          <li align="center">
            <h3>O Lendário</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_nivel4.png" width="90" height="90">
          </div>
          <li>

            <p>És o lendário, depois de ti só o Cristiano Ronaldo, todos se vão lembrar de ti quando voltares.</p>
          </li>
        </ul>
      </div>

      <div>
        <br>
        <h3>Badges</h3>
        <br>
        <p style="text-align: left;">Existem algumas tarefas que te podem dar um título muito especial, descobre aqui o
          que tens de fazer para ganhar esses títulos</p>
        <br>
        <ul>
          <li align="center">
            <h3>Sherlock Holmes</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_regioes.png" width="90" height="90">
          </div>
          <li>

            <p>Para teres este título, tens de descobrir todas as regiões da quinta.</p>
          </li>

          <li align="center">
            <h3>Sabichão</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_desafios.png" width="90" height="90">
          </div>
          <li>
            <p>Para teres este título, tens de acertar em todos os desafios que te propomos.</p>
          </li>
          <li align="center">
            <h3>Fotógrafo da Quinta</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_foto.png" width="90" height="90">
          </div>
          <li>
            <p>Para teres este título, tens de acertar de tirar pelo menos uma foto em cada região para o teu
              diário.</p>
          </li>

        </ul>
      </div>
      <div>
        <br>
        <h3>Recompensas</h3>
        <br>
        <p style="text-align: left;">O teu esforço e dedicação vai ser recompensado, descobre aqui o quais as
          combinações que tens de fazer e que recompensas podes ganhar.</p>
        <br>
        <ul>
          <li align="center">
            <h3>Desconto na entrada do SNP</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_nivel2.png" width="90" height="90">
          </div>
          <li>

            <p>Assim que ganhes o título de explorador da natureza, ficas de imediato com um desconto de 50% na tua
              entrada no SNP.</p>
          </li>
          <li align="center">
            <h3>Desconto na entrada para grupo de 4 pessoas no SNP</h3>
          </li>
          <div align="center">
            <img src="img/badges/badge_foto.png" width="90" height="90">
            <img src="img/badges/badge_regioes.png" width="90" height="90">
            <img src="img/badges/badge_desafios.png" width="90" height="90">
          </div>
          <li>
            <br>

            <p>Para teres esta recompensa, tens de possuir todos os títulos de exploração</p>
          </li>
          <li align="center">
            <h3>Merchandizing SNP </h3>
          </li>
          <div align="center">
            <img class="displayed" src="img/badges/badge_nivel1.png" width="90" height="90">
            <img class="displayed" src="img/badges/badge_nivel2.png" width="90" height="90">
            <img class="displayed" src="img/badges/badge_nivel3.png" width="90" height="90">
            <img class="displayed" src="img/badges/badge_nivel4.png" width="90" height="90">
          </div>
          <li>

            <p>Assim que chegas ao último nível ficas com direito ao marchandizing do SNP.
            </p>
          </li>

        </ul>
      </div>


    </div>

  </ion-content>

</ion-view>
