<ion-view view-title="Definições" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-toggle ng-change="toggleChange()" ng-model="enableBeacons">
        Ativar Localizacao na Quinta
      </ion-toggle>
      </ion-list>
      <ion-item class="item-borderless">
        <p align="center">Ligaçao: {{$root.netWorktype}} isOnline: {{$root.isOnline}}</p>
        <p align="center">Utilizador Logged: {{$root.APP.logged}}</p>
      </ion-item>
      <ion-item class="item-borderless animated fadeIn" ng-controller="LoginCtrl">
        <div class="" ng-controller="LoginCtrl">

          <div id="form">
            <div class="avatar">
              <img id="profile_photo" ng-click="takeAvatarPicture()" ng-src="{{Login.picture}}">
            </div>
            <form id="register_form" ng-submit="submit()">

              <div class="input-container" id="nome">
                <input type="text" name="nome" ng-change="changed()" ng-model="Login.nome" required/>
                <label for="nome">Nome</label>
              </div>
              <div class="input-container" id="email">
                <input type="text" name="email" ng-change="changed()" ng-model="Login.email" required/>
                <label for="email">Email</label>
              </div>

              <!--<br>-->

              <button ng-if="!$root.APP.logged" ng-class="Login.canSubmit" class="button button-block button-calm">Ligar com
                nome e email
              </button>

              <button ng-if="$root.APP.logged" ng-class="Login.canSubmit" class="button button-block button-calm">Modificar
                os dados
              </button>

              <div ng-if="!$root.APP.user.fb_email">
                <p align="center">Ou</p>
                <button ng-controller="WelcomeCtrl" ng-click="facebookSignIn()"
                        class="button  button-block button-calm">Ligar com o FaceBook
                </button>
              </div>

            </form>

          </div>

        </div>
      </ion-item>
      <!--<ion-toggle ng-model="settings.enableFriends">-->
      <!--Ativar  Friends-->
      <!--</ion-toggle>-->
      <ion-item class="animated fadeIn item">
        <div class="button-bar">
          <a class="button button-small button-calm" href="#/tab/intro">Ver a intro</a>
          <a class="button button-small button-assertive" href="#/tab/debug">Debug</a>
        </div>
      </ion-item>
    <!--</ion-list>-->
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
