<ion-view view-title="Debug">
  <ion-content padding="true" class="padding" scroll="true" direction="y">
    <a class="button button-block button-calm" href="#/tab/dash">Homepage</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_A">Go To Regiao A</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_B">Go To Regiao B</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_C">Go To Regiao C</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_D">Go To Regiao D</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_E">Go To Regiao E</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_F">Go To Regiao F</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_G">Go To Regiao G</a>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/RI_H">Go To Regiao H</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_20">Go To /RI_E/PI_20</a>
    <!--<a class="button button-block button-calm" href="#/tab/ibeacon">Go To ibeacon Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/bcreader">Go To bcreader Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/sqllite">Go To sqllite Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/tdcards/ALL/">Go To tdcards Tab</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/ALL/">Go regiao/ALL/</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/intro">Introdução</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/atividades">Atividades</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/login">Login</a>-->
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
