<ion-view view-title="Login" cache-view="false">
  <ion-content class="has-header has-tabs padding">

    <div class="">

      <div id="form">
        <div class="avatar">
          <img id="profile_photo" ng-click="takeAvatarPicture()" ng-src="{{Login.picture}}">
        </div>
        <form id="register_form" ng-submit="submit()">

          <div class="input-container" id="nome">
            <input type="text" name="nome" ng-change="changed()" ng-model="Login.nome" required/>
            <label for="nome">Nome</label>
          </div>
          <div class="input-container" id="email">
            <input type="text" name="email" ng-change="changed()" ng-model="Login.email" required/>
            <label for="email">Email</label>
          </div>

          <!--<br>-->

          <button ng-if="!$root.APP.logged" ng-class="Login.canSubmit" class="button button-block button-calm">Ligar com
            nome e email
          </button>

          <button ng-if="$root.APP.logged" ng-class="Login.canSubmit" class="button button-block button-calm">Modificar
            os dados
          </button>

          <div ng-if="!$root.APP.user.fb_email">
            <p align="center">Ou</p>
            <button ng-controller="WelcomeCtrl" ng-click="facebookSignIn()"
                    class="button  button-block button-calm">Ligar com o FaceBook
            </button>
            <p align="center">Efetua o login para teres acesso aos pontos e recompensas</p>

          </div>

        </form>

      </div>

    </div>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
