<ion-view view-title="Sesimbra Natura Park">
  <ion-content class="has-header has-tabs">

    <div class="APPfull">
      <div class="APPheader speedGPU">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="img-responsive" src="img/SNP_background_intro.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
        <!--<img class="responsive animated fadeIn" src="img/SNP_background_intro.jpg">-->
        <!--<img class="img-responsive animated slideInUp" src="img/SNP_background_intro.jpg">-->
      </div>


      <div class="APPmain padding animated fadeInUpBig">
        <!--<ion-scroll direction="y">-->

        <ion-list class="list-borderless">
          <div class="list-item padding">
            <p style="text-align: left;">
              A Sesimbra Natura Park é&nbsp;um espaço de recreio e lazer,&nbsp;com 867Ha,&nbsp;destinado ao
              usufruto turístico da Natureza.&nbsp;Oferece um conjunto de atividades centradas na utilização
              sustentável dos recursos naturais e apoiadas por infraestruturas que garantem segurança e bem-estar.&nbsp;
            </p>
          </div>
      <h3 align="center">COMO CHEGAR</h3>
      <p style="text-align: left;">
        O Sesimbra Natura Park situa-se a 10 Km da vila de Sesimbra,a 16 Km de Setúbal e a 25 Km de Lisboa.
      </p>
      <p style="text-align: left;">
        <b>Morada:</b><br>
        Herdade da MesquitaEN 378, Km 13.9<br>
        <b>Sesimbra</b> <br>
        Coordenadas:<br>
        PS38⁰31'28.6''N 9⁰06´02.8''W<br>
      </p>


          <ion-item class="item-thumbnail-left list-item">
            <!--<div class="mascoteAvatarDesenho">-->
            <img ng-src="img/galo_desenho.png" class="">
            <h2 class="newFont">Anda visitar-nos!</h2>
            <!--<p class="textWrap">{{item.description}}</p>-->
            <!--<h4 class="textWrap">Descobre todas as atividades</h4>-->
            <button class="button button-small button-calm" ng-click="goAtividades()">Descobre todas as atividades
            </button>
          </ion-item>
          <!--</div>-->
        </ion-list>
      </div>
    </div>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
