<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <p>
      A quinta pedagógica é um espaço contacto com a natureza e devido às várias espécies de aves que utilizam
      sistemas
      internos de orientação, como pombos, periquitos e gansos que vivem na quinta, achamos que o risco de
      adicionar um
      emissor Wi-Fi com potência suficiente para a cobertura total do espaço, não se justifica.
    </p>
    <p>
      Apesar das alterações electromagnéticas medidas com o emissor em funcionamento serem muito baixas devido
      dispersão
      do terreno com pouca densidade, seria necessário um estudo mais aprofundado para uma conclusão satisfatória
      em
      termos de impacto nos animais.
    </p>
    <p>
      A quinta já coexiste com cobertura 3G/4G com alguma qualidade, que serve as necessidades do visitante que
      precise de conectividade permanente e cujo impacto ambiental já existe.
    </p>
    <!--<p>-->
    <!--For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic-->
    <!--Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We-->
    <!--also have other services available.-->
    <!--</p>-->
    <!--<div ng-controller="CameraCtrl">-->
      <!--<button ng-click="takePicture()" class="button button-block button-primary">Take Photo</button>-->
      <!--<img ng-src="{{lastPhoto}}" style="max-width: 100%; height: auto;">-->
    <!--</div>-->
  </ion-content>
</ion-view>
