<div class="APPmain">
  <ion-item id="headerQuiz" ng-show="header" class="item-thumbnail-left item-borderless list-item">
    <!--<div class="mascoteAvatarDesenho">-->
    <!--<img ng-src="img/galo_desenho.png" class="">-->
    <img class="" style="width: 65px;" src="img/galo_desenho.png"/>
    <p style="margin-left: -30px; margin-top: 0px;" align="left" class="textWrap">{{banner}}</p>
    <!--<h2 class="newFont"><br></h2>-->
    <!--<p style="font-size: medium" class="textWrap">Agora é que vamos ver o que aprendeste nesta região, acerta o máximo que conseguires e vais ser recompensado.</p>-->
    <!--<span style="max-width: 100%">Agora é que vamos ver o que aprendeste nesta região, acerta o máximo que conseguires e vais ser recompensado.</span>-->
    <div ng-if="quizOver" class="padding">
      <button ng-if="score<3" style="margin-left: -40px; margin-top: 0px;" class="button button-small button-calm" ng-click="start()">Tentar novamente.
      </button>
      <button ng-if="score>=3"style="margin-left: -40px; margin-top: 0px;" class="button button-small button-calm" ng-click="goMapa()">Descobre outra região
      </button>
    </div>

  </ion-item>

  <div class="quiz-area padding" ng-show="inProgress">
    <div ng-if="!quizOver">
      <div class="score APPcenter" ng-class="view.buttonClass">
        <span>Pontuação {{score}}</span>
      </div>
      <!--<div class="score energized">-->
      <!--<span ng-click="stopCards()">Stop</span>-->
      <!--</div>-->
    </div>
    <div ng-show="!quizOver">
      <!--<h2 id="question">{{question}}</h2>-->
      <!--<fieldset>-->
      <legend>{{question}}</legend>
      <ul class="padding">
        <li ng-click="selectValue($index)" ng-repeat="option in options">

          <label style="font-size: 95%;">
            <input class="option" type="radio" name="answer" value="{{option}}"> <span>{{option}}</span>
          </label>
          <!--<label>-->
          <!--<input type="radio" name="answer" value="{{option}}">-->
          <!--{{option}}-->
          <!--</label>-->
        </li>
        </li>

      </ul>
      <!--<button ng-click="checkAnswer($index)" ng-show="answerMode">Submit</button>-->

      <div ng-show="!answerMode" class="">

        <p align="left" class="animated fadeIn" style="font-size: medium"><i ng-class="iconClass" class="icon"></i> {{mensagem}}</p>
        <!--<span><br></span>-->
        <br>
        <!--<span class="animated fadeIn" ng-show="!correctAns">{{mensagem}}</span>-->
      </div>
      <div ng-if="!answerMode" class="">
        <button ng-click="nextQuestion()" class="button button-next ">Próxima questão</button>
      </div>
      <!--</fieldset>-->
    </div>


    <!--<div ng-show="quizOver">-->
      <!--<h3 align="center">Acabaste o questionário!</h3>-->
      <!--<button class="button button-next APPcenter" ng-click="reset(); start();">Tentar novamente</button>-->
    <!--</div>-->

  </div>

  <!--<div class="padding" ng-show="!inProgress">-->
  <!--<p>Welcome to the QuizApp</p>-->
  <!--<button class="button button-next APPcenter" id="startQuiz" ng-click="start()">Iniciar Questionário</button>-->
  <!--</div>-->
  <!--</ion-content>-->
</div>
