<ion-view view-title="Festas De Aniversário">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/eventos_aniversario.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <h4 align="left">ANIVERSÁRIO NA HERDADE</h4>
            <br>

            <p style="text-align: left;">
              Festa de anos para crianças a partir dos 3 anos, seguindo uma temática mais campestre, relacionada com a exploração do pomar, animais e interação com a natureza, através de jogos de roda, jogos tradicionais, caça ao tesouro, recolha de materiais existentes no campo para construção de pequenos abrigos para animais.
              As atividades são adaptadas à faixa etária dos participantes.
            </p>
            <h4 align="left">ANIVERSÁRIO RADICAL</h4>
              <br>

              <p style="text-align: left;">
                Para crianças a partir dos 8 anos, com a realização de duas atividades SNP que vão levar os participantes a explorar os seus limites, mas com muita diversão.
                <br>
                Opção 1: Arborismo e Canoagem.<br>
                Opção 2: Arborismo e Paintball.<br>
                Opção 3: Paintball e Canoagem.<br>
                <br>
                Nota: para crianças com idade inferior a 12 anos o Paintball é substituido por Splatmaster.
              </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
