<ion-view view-title="Aquáticas" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades" src="img/atividades_quinta_pedagogica.jpg">-->
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_aquaticas.jpg">-->
        <img class="APPimg" src="img/atividades/atividades_aquaticas.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>


      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h4 align="center">ARBORISMO</h4>-->
            <p style="text-align: left;">
              As Lagoas dispõem de um conjunto de infraestruturas, como balneários e zonas de ensombramento que lhes
              permitem uma prática destas modalidades com uma maior comodidade.
            </p>
            <p style="text-align: left;">
              Estas atividades são orientadas por monitores do SNP e a sua prática implica o conhecimento das condições
              de utilização das Lagoas e dos termos de Responsabilidade. O SNP dispõe do equipamento para a prática de
              algumas das modalidades que podem ser complementadas com programas especialmente pensados ​para os
              visitantes.
            </p>
            <p style="text-align: left;">
              • Atividades em grupo
            </p>
            <p style="text-align: left;">
              • Programas organizados
            </p>
            <br>
            <h4 align="left">CANOAGEM</h4>
            <br>
            <p style="text-align: left;">
              Pode navegar livremente pelos planos de água (obrigatória a presença de um monitor SNP) ou num programa
              organizado pela equipa do Sesimbra Natura Park de acordo com os seus interesses.
            </p>
            <p style="text-align: left;">
              Crianças menores de 8 anos têm obrigatoriamente de ser acompanhadas por um adulto.
            </p>
            <br>
            <h4 align="left">SUP</h4>
            <br>
            <p style="text-align: left;">
              O SNP dispõe de uma prancha de SUP disponível apenas como complemento de um programa de canoagem.
              Pretende-se com isso proporcionar uma primeira abordagem à modalidade por parte de todos aqueles que
              tenham essa curiosidade. As Lagoas têm excelentes condições para a prática da modalidade com pranchas
              proprias dos utilizadores, sendo obrigatória a presença de um monitor do SNP. Só poderão ser aceites
              inscrições para grupos iguais ou superiores a 8 pessoas.
            </p>
            <br>
            <h4 align="left">VELA</h4>
            <br>
            <p style="text-align: left;">
              As Lagoas do SNP são locais indicados para a prática inicial e treino desta modalidade em pequenas
              embarcações. O SNP dispõe de um Optimist (para crianças dos 8 aos 14 anos), disponível para batismo de
              vela ou aulas particulares.
            </p>
          </div>
      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
