<ion-view view-title="Arborismo">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated slideInUp" src="img/atividades/atividades_arborismo.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <h3 align="center">ARBORISMO</h3>
            <p style="text-align: left;">
              Esta experiência consiste na realização de duas voltas completas ao circuito, passando por todas as
              pontes, terminando com uma saída em deslize e experimentando o sistema de escalada.
            </p>
            <p>
              O programa de arborismo completo, incluíndo o resumo de segurança e o equipamento dos participantes, tem
              uma duração de cerca de 2h. ​​​​​​​O circuito de arborismo pode ser utilizado por participantes com mais
              de 6 anos e 1,10m de altura.
            </p>
            <!--<br>-->
            <h3 align="left">Informação adicional</h3>
            <br>
            <p style="text-align: left;">
              Percurso com 10 pontes entre os 5 e os 8 m de altura, entre árvores, Sistema de linha de vida contínua.
              A atividade de arborismo pode ser feita só por si ou conjugada com outros programas Sesimbra Natura Park,
              As actividades de arborismo, escalada e slides arnes incluem, capacetes e os cabos necessários para cada
              participante
            </p>
          </div>

      </ion-list>

    </div>
  </div>
    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
