<ion-view view-title="Bicicletas">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/atividades/atividades_bicicletas.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>


      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h4 align="center">ARBORISMO</h4>-->
            <p style="text-align: left;">
              A Atividade Base SNP (6,5€) inclui a utilização livre dos 25 Km de percursos cicláveis e pedestres,
              seguro, estacionamento e fornecimento de mapa. Estes percursos, com grau de dificuldade entre o acessível
              e o médio, estão devidamente sinalizados e têm instaladas estações de biodiversidade, onde poderá
              encontrar informação detalhada sobre a Flora e a Fauna locais.
            </p>
            <br>
            <h4 align="left">Informação adicional</h4>
            <br>
            <p style="text-align: left;">
              A Atividade Base SNP dá-lhe também acesso à Quinta Pedagógica ou a fazer o seu piquenique num dos locais
              assinalados ao longo dos percursos.

              Os passeios no SNP dão-lhe a oportunidade ideal para observar e fotografar a Flora e Fauna da região em
              enquadramentos naturais únicos!

              Pode usar a sua bicicleta ou alugar uma no SNP.
            </p>
          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
