<ion-view view-title="Campos de Férias">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/atividades/atividades_campo_ferias.jpg"
             ng-image-appear responsive transition-duration="1s" animation="fadeInUp" animation-duration="1s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <h5 align="left">Campos de férias de 6 dias.</h5>
            <p style="text-align: justify;">
              Nos campos de férias do SNP procuramos proporcionar às nossas crianças vivências inesquecíveis.
            </p>
            <p style="text-align: justify;">
              Tendo em mente que se trata de uma oportunidade para treinarem a sua independência, auto-estima,
              auto-confiança, competências sociais entre outras, temos um conjunto variado de atividades
              lúdico-pedagógicas, passadas no campo, natureza e lagos para que se divirtam e aprendam muito.
            </p>
            <p style="text-align: justify;">
              - Idades: A partir dos 10 anos e até aos 14 ( as atividades serão adaptadas à idade dos participantes) :
            </p>
            <p style="text-align: justify;">
              - Duração: 6 dias ( domingo a partir das 16h00, até 6ªfeira às 19h30 )
            </p>
            <p style="text-align: justify;">
              - Dormida: em regime de acampamento.
            </p>
            <p style="text-align: justify;">
              - Atividades: Canoagem, Tiro ao Alvo, Arborismo e Slide, Cuidar de Animais, Acampamento, SUP, Caminhadas,
              Jogos Tradicionais e Noturnos, Escalada, Torneios Desportivos, Oficinas de Artes e Artes de Palco, Pistas
              e Orientação, Observação de Estrelas, Contos com Pontos e Paintball/splatmaster (de acordo com as idades).
            </p>
            <br>
            <h4 align="center">O CAMPO BASE ESTÁ PREPARADO COM:</h4>
            <br>
            <p style="text-align: justify;">
              • Estacionamento para carros e autocarros
            </p>
            <p style="text-align: justify;">
              • Zona vedada com uma área superior a 1 hectare
            </p>
            <p style="text-align: justify;">
              • Zona de acampamento
            </p>
            <p style="text-align: justify;">
              • Campos de voleibol / badminton
            </p>
            <p style="text-align: justify;">
              • Campo de jogos tradicionais
            </p>
            <p style="text-align: justify;">
              • Ensombramento com 220 m2, equipado com mesas e bancos
            </p>
            <p style="text-align: justify;">
              • Balneários com duches de água quente
            </p>
            <p style="text-align: justify;">
              • Zona de grelha
            </p>
            <p style="text-align: justify;">
              • Charca com patos (com ponto de observação e de alimentação)
            </p>
            <p style="text-align: justify;">
              • Cercado com animais
            </p>
            <p style="text-align: justify;">
              • Sala polivalente indoor com uma área de 70 m2, com lareira, frigorífico, TV, projetor, internet e casas
              de banho preparadas para deficientes.
            </p>
            <p style="text-align: justify;">
              • Água canalizada proveniente de furo (não tratada) e eletricidade
            </p>
            <h4 align="center">DATAS:</h4>
            <br>
            <p style="text-align: justify;">
              Disponível em 2017
            </p>
            <p style="text-align: justify;">
              Havendo número mínimo de inscrições poderemos realizar Campos de Férias na semana seguinte (14 a 19 de
              Agosto)
            </p>
          </div>

          <ion-item class="item-thumbnail-left list-item animated fadeInUpBig">
            <img ng-src="img/galo_desenho.png" class="">
            <h2 class="">Anda experimentar!</h2>
            <!--<button class="button button-small button-calm" ng-click="goAtividades()">Explora outras atividades-->
            <!--</button>-->
            <button ng-click="$ionicGoBack()" class="button button-small back-button buttons button-calm"><i
              class="icon ion-ios-arrow-back"></i>
              <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title hide">Back</span><span
                class="previous-title">Atividades</span></span>
            </button>
          </ion-item>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
