<ion-view view-title="Campos de Férias" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades" src="img/atividades_quinta_pedagogica.jpg">-->
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_campo_ferias.jpg">-->
        <img class="APPimgAtividades" src="img/atividades/atividades_campo_ferias.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              Nos campos de férias do SNP procuramos proporcionar às nossas crianças vivências inesquecíveis.
            </p>
            <p style="text-align: left;">
              Tendo em mente que se trata de uma oportunidade para treinarem a sua independência, auto-estima,
              auto-confiança, competências sociais entre outras, temos um conjunto variado de atividades
              lúdico-pedagógicas, passadas no campo, natureza e lagos para que se divirtam e aprendam muito.
            </p>
            <p style="text-align: left;">
              - Idades: A partir dos 10 anos e até aos 14 ( as atividades serão adaptadas à idade dos participantes) :
            </p>
            <p style="text-align: left;">
              - Duração: 6 dias ( domingo a partir das 16h00, até 6ªfeira às 19h30 )
            </p>
            <p style="text-align: left;">
              - Dormida: em regime de acampamento.
            </p>
            <p style="text-align: left;">
              - Atividades: Canoagem, Tiro ao Alvo, Arborismo e Slide, Cuidar de Animais, Acampamento, SUP, Caminhadas,
              Jogos Tradicionais e Noturnos, Escalada, Torneios Desportivos, Oficinas de Artes e Artes de Palco, Pistas
              e Orientação, Observação de Estrelas, Contos com Pontos e Paintball/splatmaster (de acordo com as idades).
            </p>

            <h4 align="left">O CAMPO BASE ESTÁ PREPARADO COM:</h4>

            <p style="text-align: left;">
              • Estacionamento para carros e autocarros
            </p>
            <p style="text-align: left;">
              • Zona vedada com uma área superior a 1 hectare
            </p>
            <p style="text-align: left;">
              • Zona de acampamento
            </p>
            <p style="text-align: left;">
              • Campos de voleibol / badminton
            </p>
            <p style="text-align: left;">
              • Campo de jogos tradicionais
            </p>
            <p style="text-align: left;">
              • Ensombramento com 220 m2, equipado com mesas e bancos
            </p>
            <p style="text-align: left;">
              • Balneários com duches de água quente
            </p>
            <p style="text-align: left;">
              • Zona de grelha
            </p>
            <p style="text-align: left;">
              • Charca com patos (com ponto de observação e de alimentação)
            </p>
            <p style="text-align: left;">
              • Cercado com animais
            </p>
            <p style="text-align: left;">
              • Sala polivalente indoor com uma área de 70 m2, com lareira, frigorífico, TV, projetor, internet e casas
              de banho preparadas para deficientes.
            </p>
            <p style="text-align: left;">
              • Água canalizada proveniente de furo (não tratada) e eletricidade
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
