<ion-view view-title="Casamentos" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/eventos_casamentos.jpg">-->
        <img class="APPimg" src="img/atividades/eventos_casamentos.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              Sabemos que o Casamento e um evento muito especial e podemos  torna-lo  memorável! Os Casamentos organizamos no SNP,
              decorrem num ambiente campestre, com decoração e ementas adequadas, e um serviço de acolhimento aos noivos e convidados de extrema atenção e qualidade.
            </p>
            <p style="text-align: left;">
              O Sesimbra Natura Park disponibiliza infraestruturas ideais para a realização de Casamentos Campestres.
              <br>
              Fornece toda a logística e apoio para a realização do casamento que sempre idealizou.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
