<ion-view view-title="Despedidas De Solteiro">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/eventos_despedidas.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              Para estas tão importantes celebrações, o SNP disponibiliza programas de dois dias,
              que incluem uma noite de acampamento/acantonamento (este último, em caso de chuva) e realização de atividades no Parque.
              <br>
              O Sesimbra Natura Park fornece também toda a logística e apoio para a realização da Despedida de Solteiro que sempre idealizou.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
