<ion-view view-title="Despedidas de Solteiro" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/eventos_despedidas.jpg">-->
        <img class="APPimg" src="img/atividades/eventos_despedidas.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              Para estas tão importantes celebrações, o SNP disponibiliza programas de dois dias,
              que incluem uma noite de acampamento/acantonamento (este último, em caso de chuva) e realização de atividades no Parque.
            </p>
            <p style="text-align: left;">
              O Sesimbra Natura Park fornece também toda a logística e apoio para a realização da Despedida de Solteiro que sempre idealizou.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
