<ion-view view-title="Empresas">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg animated slideInUp" src="img/atividades/eventos_empresas.jpg">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              O SNP oferece um conjunto diversificado de infraestruturas ideais para a realização de atividades corporate tão variadas como reuniões,
              atividades de Team Building, Brainstormings, etc.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
