<ion-view view-title="Eventos">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/eventos_despedidas.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: center;">
              Viva momentos especiais únicos e memoráveis! <br>
              Descubra as opções que temos para si ou crie o seu próprio evento com a ajuda dos nossos profissionais<br>
            </p>


            <h4 align="left">FESTAS DE ANIVERSÁRIO NA HERDADE</h4>
            <br>
            <p style="text-align: left;">
              Festa de anos para crianças a partir dos 3 anos, seguindo uma temática mais campestre, relacionada com a exploração do pomar,
              animais e interação com a natureza, através de jogos de roda, jogos tradicionais, caça ao tesouro,
              recolha de materiais existentes no campo para construção de pequenos abrigos para animais.<br>
              As atividades são adaptadas à faixa etária dos participantes.
            </p>
            <br>
            <h4 align="left">ANIVERSÁRIO RADICAL</h4>
              <br>
              <p style="text-align: left;">
                Para crianças a partir dos 8 anos, com a realização de duas atividades SNP que vão levar os participantes a explorar os seus limites,
                mas com muita diversão.
              </p>
              <p style="text-align: left;">
                Opção 1: Arborismo e Canoagem.<br>
                Opção 2: Arborismo e Paintball.<br>
                Opção 3: Paintball e Canoagem.<br>
                <br>
                Nota: para crianças com idade inferior a 12 anos o Paintball é substituido por Splatmaster.
              </p>


            <img src="img/atividades/eventos_aniversario.jpg">
            <h4 align="left">DESPEDIDAS DE SOLTEIRO</h4>
            <br>

            <p style="text-align: left;">
              Para estas tão importantes celebrações, o SNP disponibiliza programas de dois dias,
              que incluem uma noite de acampamento/acantonamento (este último, em caso de chuva) e realização de atividades no Parque.
            </p>
            <p style="text-align: left;">
              O Sesimbra Natura Park fornece também toda a logística e apoio para a realização da Despedida de Solteiro que sempre idealizou.
            </p>
            <br>

            <img src="img/atividades/eventos_casamentos.jpg">
            <h4 align="left">CASAMENTOS</h4>
            <br>

            <p style="text-align: left;">
              Sabemos que o Casamento e um evento muito especial e podemos  torna-lo  memorável! Os Casamentos organizamos no SNP,
              decorrem num ambiente campestre, com decoração e ementas adequadas, e um serviço de acolhimento aos noivos e convidados de extrema atenção e qualidade.
            </p>
            <p style="text-align: left;">
              O Sesimbra Natura Park disponibiliza infraestruturas ideais para a realização de Casamentos Campestres.<br>
              Fornece toda a logística e apoio para a realização do casamento que sempre idealizou.
            </p>
            <br>

            <img src="img/atividades/eventos_piqueniques.jpg">
            <h4 align="left">PIQUENIQUES NO CAMPO</h4>
            <br>

            <p style="text-align: left;">
              Os piqueniques podem ser realizados em espaços diferenciados, dependendo dos gostos e do número de pessoas convidadas.
            </p>
            <p style="text-align: left;">
              Para a realização deste tipo de eventos, o SNP disponibiliza a opção de aluguer de espaços e equipamento ou a contratação da logística de todo o piquenique.
            </p>
            <br>

            <img src="img/atividades/eventos_empresas.jpg">
            <h4 align="left">EMPRESAS</h4>
            <br>

            <p style="text-align: left;">
              O SNP oferece um conjunto diversificado de infraestruturas ideais para a realização de atividades corporate tão variadas como reuniões,
              atividades de Team Building, Brainstormings, etc.
            </p>
            <br>

            <img src="img/atividades/eventos_filmagens.jpg">
            <h4 align="left">FILMAGENS E ANÚNCIOS</h4>
            <br>

            <p style="text-align: left;">
              Realização de filmagens de séries, telenovelas, jogos e anúncios: falésias, ribeira, floresta ripícola, zonas de várzea, charcas, planos de água com dimensão variável,
              dunas de areia, pastagens, campo aberto, matos, e zonas florestais de pinhal bravo, pinhal manso e sobreiro.
            </p>
            <p style="text-align: left;">
              Estas paisagens são servidas por um conjunto de caminhos acessíveis a transportes de grandes dimensões,
              tendo na proximidade as infraestruturas do Campo Base, Casa do Caçador e Lagoa Grande.
            </p>

            <p style="text-align: center;">
              Pretende um evento à sua medida? <br>
              Fale connosco. Faremos os possíveis para ir ao encontro dos seus desejos.
            </p>



          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
