<ion-view view-title="Fauna e Flora" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_fauna_flora.jpg">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Queremos que seja motivo de satisfação e procura para quem nos visita.
              Nesse sentido, para além dos planos de água, foram criadas varias infraestruturas de Observação de Fauna
              que permitirão ao visitante tirar o maior partido do meio envolvente.<br>
            </p>
            <h4 align="left">OBSERVAÇÃO DE FAUNA E FLORA</h4>

            <p style="text-align: left;">
              Os programas de observação de fauna e flora são desenhados conforme as necessidades do cliente e são acompanhados por monitores,
              inserindo-se num projeto de Educação Ambiental mais vasto, que o SNP está a desenvolver!
            </p>
          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
