<ion-view view-title="Filmagens e Anúncios" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimgAtividades animated slideInUp" src="img/atividades/eventos_filmagens.jpg">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Realização de filmagens de séries, telenovelas, jogos e anúncios: falésias, ribeira, floresta ripícola, zonas de várzea, charcas, planos de água com dimensão variável,
              dunas de areia, pastagens, campo aberto, matos, e zonas florestais de pinhal bravo, pinhal manso e sobreiro.
            </p>
            <p style="text-align: left;">
              Estas paisagens são servidas por um conjunto de caminhos acessíveis a transportes de grandes dimensões,
              tendo na proximidade as infraestruturas do Campo Base, Casa do Caçador e Lagoa Grande.
            </p>


          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
