<ion-view view-title="Paintball">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/atividades_painball.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              O paintball pode ser jogado no SNP através de programas organizados pela nossa equipa ou ainda em regime de utilização livre, com aluguer de campo, materiais e equipamentos.
              <br>
              Para jogos mais radicais, o SNP disponibiliza um campo adicional.
              <br>
              Idade mínima: 12 anos.
            </p>
            <h4 align="left">PAINTBALL</h4>
            <br>

            <p style="text-align: left;">
              Este programa tem lugar no campo de paintball do SNP. São disponibilizados programas organizados de jogos com diversas temáticas,
               que exploram diferentes objetivos de jogo.<br>
            </p>
            <h4 align="left">PAINTBALL NOTURNO</h4>
            <br>

            <p style="text-align: left;">
              Realizáveis em noites de lua cheia, estes são programas disponíveis para grupos a partir de 8 jogadores.
              Com duração de 4 horas, têm início às 20.00h e final às 24.00h.<br>
              <br>
              O programa inclui:<br>
              Jantar no SNP;<br>
              Material adequado: marcador, botija, ar comprimido ilimitado, carregador,máscara, colete,
              200 bolas fluorescents/jogador, equipa de monitores/arbitragem em função do n.º de jogadores.<br>
            </p>
            <h4 align="left">PAINTBALL SNP (a partir de 2016)</h4>
            <br>

            <p style="text-align: left;">
              Uma experiência cheia de adrenalina, vivida num campo não vedado com uma extensão de cerca de 10 ha.
              Aqui, os jogadores maiores de 18 anos poderão desafiar-se em jogos táticos, onde a visão estratégica e o espírito de equipa prevalecem.
              <br>
            <p style="text-align: left;">
              Com a duração de 1 dia (8h) com almoço incluído <br>
            </p>
              Material incluído: marcador, botija, ar comprimido ilimitado, carregador, máscara, colete, 500 bolas/jogador, equipa de monitores/arbitragem de acordo com o n.º de jogadores
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
