<ion-view view-title="Percursos Pedestres" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_percursos_pedestres.jpg">-->
        <img class="APPimgAtividades" src="img/atividades/atividades_percursos_pedestres.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              A Atividade Base no SNP inclui a utilização livre dos 25 Km de percursos pedestres e cicláveis, seguro, estacionamento e fornecimento de mapa.<br>
              Estes percursos, com grau de dificuldade entre o acessível e o médio,
              estão devidamente sinalizados e têm instaladas estações de biodiversidade, onde poderá encontrar informação detalhada sobre a Flora e a Fauna locais.
            </p>
            <p style="text-align: left;">
              <b>Aproveite:</b> A Atividade Base no SNP dá-lhe também acesso à zona pública da Quinta Pedagógica ou a fazer o seu piquenique num dos locais assinalados ao longo dos percursos.
            </p>
            <p style="text-align: left;">
              Os passeios no SNP dão-lhe a oportunidade ideal para observar e fotografar a Flora e Fauna da região em enquadramentos naturais únicos!<br>
            </p>
            <h4 align="left">CAMINHANTES</h4>


            <p style="text-align: left;">
              Explorando o perímetro do SNP (+ de 25 km) em trilhos que variam de dificuldade e que apresentam durações diversas, que variam entre meio dia e um dia.<br>
              Os percursos poderão ser acompanhados por monitores que ajudam a compreender os trilhos e a envolvência.<br>
            </p>
            <h4 align="left">PROVAS DE ORIENTAÇÃO</h4>


            <p style="text-align: left;">
              Atividades de Orientação, dentro do Sesimbra Natura Park, com graus de dificuldade variados, adaptados a várias idades.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
