<ion-view view-title="Piqueniques No Campo" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/eventos_piqueniques.jpg">-->
        <img class="APPimg" src="img/atividades/eventos_piqueniques.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">

            <p style="text-align: left;">
              Os piqueniques podem ser realizados em espaços diferenciados, dependendo dos gostos e do número de pessoas convidadas.
            </p>
            <p style="text-align: left;">
              Para a realização deste tipo de eventos, o SNP disponibiliza a opção de aluguer de espaços e equipamento ou a contratação da logística de todo o piquenique.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
