<ion-view view-title="Pomar variedades" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg animated slideInUp" src="img/atividades/atividades_pomar_variedades.jpg">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">O pomar, com uma área de 3,5 Hectares, está certificado como produção integrada, tendo:
            </p>
            <br>
            <p style="text-align: left;">
              • 1 hectare de maçã cunha (riscadinha), característica da zona de Sesimbra e de Palmela
            </p>
            <p style="text-align: left;">
              • 0,8 hectares de maçã camoesa ou férrea da Azóia, característica da zona da Azóia (Cabo Espichel)
            </p>
            <p style="text-align: left;">
              • 0,1 hectares de maçã espelho e maçã branca, características da zona de Sesimbra
            </p>
            <p style="text-align: left;">
              • 0,2 hectares de pêra carapinheira, característica da zona do Oeste
            </p>
            <p style="text-align: left;">
              • 0,3 hectares de pêra de inverno e de pêra mesquita, característica da zona de Sesimbra
            </p>
            <p style="text-align: left;">
              • 0,1 hectares de pêra Joaquina e Super Joaquina, característica da zona do Oeste
            </p>
            <p style="text-align: left;">
              • 0,5 hectares de vinha das castas S. Isabel (apenas existente na zona de Sesimbra e praticamente em extinção), Diagalves e Ferral
            </p>
            <p style="text-align: left;">
              • 0,2 hectares de ameixa rainha Cláudia
            </p>
            <p style="text-align: left;">
              • 0,2 hectares de figo (Lampa Preta, Moscatel e Sapo)
            </p>
            <p style="text-align: left;">
              • 0,1 hectares de marmeleiros
            </p>
            <p style="text-align: left;">
              • Alguns exemplares de castanheiros.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
