<ion-view view-title="Quinta Pedagógica" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <!--<img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgAtividades" src="img/atividades/atividades_quinta_pedagogica.jpg"
             ng-image-appear transition-duration="0s" animation="zoomIn" animation-duration="0s"
             easing="">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Com 80 m2, a casa da Quinta é constituída por uma sala comum, com kitchenette e lareira,
              e duas divisões para a realização de atividades com conteúdos interativos e pedagógicos, ou seja, é um espaço ideal para um atelier “mãos na massa”.
              <br>
              A Quinta possui ainda um pequeno pomar de citrinos, jardim de cheiros,
              horta pedagógica e alguns animais de quinta (ovelhas, cabras, porcos, galinhas, patos e perús) e uma zona de estadia envolvente com ensombramento.
              <br>
              A Quinta Pedagógica do SNP funciona em interligação com o Pomar de Variedades locais e regionais.
              <br>
              Ideal para escolas, aniversários de crianças e atividades sénior.
              <br>
              Como extra, em parceria com o Canil Beira Tejo, pode assistir à apresentação de treino de cães.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
