<ion-view view-title="Futebol/Rugby de praia" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimgAtividades animated slideInUp" src="img/atividades/atividades_rugby.jpg">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Estas atividades são desenvolvidas num pequeno campo de jogos, cujo pavimentos é areia, junto ao Campo Base.
            </p>
            <p style="text-align: left;">
              No bilhete de entrada está incluido o uso dos campos de jogos, no entanto se quiser a exclusividade do campo pode alugá-lo à hora.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
