<ion-view view-title="Actividades Sénior">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/atividades_senior.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              O Sesimbra Natura Park disponibiliza um conjunto diversificado de atividades específicas para utentes seniores,
              perfeitamente adaptado aos interesses de cada utilizador.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
