<ion-view view-title="Tiro">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/atividades_tiro.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Nesta atividade, que ajuda a desenvolver a perícia e a coordenação motora, são utilizados alvos artificiais.
            </p>
            <h4 align="left">TIRO COM ARCO</h4>

            <p style="text-align: left;">
            O mais famoso arqueiro da história foi sem dúvida Guilherme Tell, que ao acertar na lendária maçã colocou o tiro com arco no imaginário de todos.
            Esta é talvez a forma mais antiga de neurobalística, praticada desde a Pré-história.
            </p>
            <h4 align="left">ZARABATANA</h4>

            <p style="text-align: left;">
              Campo de tiro
            </p>
            <p style="text-align: left;">
              As Atividades de Tiro são acompanhadas por monitores do SNP e podem ser agrupadas com outras atividades do Parque.
            </p>
            <p style="text-align: left;">
              Podem ser realizadas em grupo ou individualmente. A realização destas atividades está condicionada ao cumprimento das regras de utilização do Campo de Tiro.
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
