<ion-view view-title="Voleibol De Praia">
  <ion-content class="has-header has-tabs" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <img class="APPimg" src="img/atividades/atividades_voley.jpg"
             ng-image-appear responsive transition-duration="0.8s" animation="fadeInUp" animation-duration="0.8s"
             easing="ease-out">
      </div>

      <div class="APPmain">

        <ion-list class="list-borderless">
          <div class="list-item animated fadeInUpBig padding">
            <p style="text-align: left;">
              Estas atividades são desenvolvidas num pequeno campo de jogos, cujo pavimentos é areia, junto ao Campo Base.
              No bilhete de entrada está incluido o uso dos campos de jogos, no entanto se quiser a exclusividade do campo pode alugá-lo à hora
            </p>

          </div>

      </div>

      </ion-list>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
