<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_fome.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Eu gosto de me alimentar de forma saudável. Quase tudo o que como vem desta horta.</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI" src="img/mapa/PIs/PI_6.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Se te queres manter saudável, deves comer de tudo o que está nesta horta! Nem sabes o bem que faz comer legumes e vegetais.
            </p>
            <p style="text-align: left;"> Sabes que os vegetais são essenciais para fazermos uma boa digestão e limpar o nosso organismo.<br> Eles são também uma excelente fonte de fibra, vitaminas e sais minerais.
              As cenouras por exemplo fazem os olhos bonitos porque têm muita vitamina A. Vê como estou tão belo e com saúde!
            </p>
            <p style="text-align: left;"> Todos os dias os vegetais e frutas são regados diariamente e por vezes temos a visita de alguns amigos meus como os chapins, os verdilhões, os charnecos e os pardais!<br> Tanta biodiversidade que temos aqui!
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - Vegetais são ricos em fibra, vitaminas e sais minerais; <br>
                <br>
                2 – As cenouras têm muita vitamina A que faz bem à visão; <br>
                <br>
                3 – Todos os vegetais são regados diariamente. <br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
