<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" style="width: 65px;" src="img/galo_desenho.png"/>
          <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">Se não tens saldo no teu telemóvel e queres enviar uma mensagem a alguém, podes pedir aos meus primos pombos que eles levam! </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI" src="img/mapa/PIs/PI_7.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Estes meus primos são muito espertos! <br>
São capazes de voltar a casa sem se perderem. Para que isso aconteça eles têm de nascer no pombal. Se um deles for levado para Lisboa, ele volta a casa sozinho!
            </p>
            <p style="text-align: left;"> Sabes que os pombos não gostam nada de frio e por isso é que só se podem
            encontrar em países quentes como Portugal!
            </p>
            <p>Eles voam a uma velocidade muito grande porque têm umas penas mais finas do que a maioria das aves. São capazes de ter uma velocidade média superior a 90 km por hora. 
            </p>
            <p style="text-align: left;"> Eu até gosto deles, mas não gosto quando eles gozam comigo por não ser capaz de voar...
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 – Pombos Correio voltam sempre ao local de nascimento; <br>
                <br>
                2 – Os Pombos não gostam de frio e fogem sempre para onde faz calor; <br>
                <br>
                3 – Velocidade de voo deve-se ao facto das penas serem mais finas - média de 90 km por hora. <br>
                <br>
               </p>
            </div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
