<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_certo.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Chegaste à piscina do empreendimento! Eu gosto muito de ficar a ver as beldades a tomar banhos desde minha casa...</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated fadeIn" src="img/mapa/PIs/PI_9.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Aqui moram os vizinhos mais bonitos (depois de mim, claro)...  <br>
              Os gansos adoram que lhes tirem fotografias. Estão sempre com aquela pose!
            </p>
            <p style="text-align: left;"> Sabes que os gansos são quem protege a capoeira. São eles que afugentam qualquer ameaça para a nossa casa! <br>
              Os patos são da mesma família dos gansos e deve ser por isso que também passam o tempo na água! É por estarem tanto tempo na água que têm umas membranas entre os dedos das patas. Assim podem-se mexer melhor.
            </p>
            <p style="text-align: left;">
              Eles têm penas impermeáveis, porque senão constipavam-se, uma vez que estão tanto tempo na água!<br>
              Fica a saber que os meus vizinhos são dos poucos animais da natureza que andam, nadam e voam!
              Mas não vale a pena falares com os patos, porque uns são mudos e os outros estão sempre a olhar para o chão...
            </p>
                      <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 – Os gansos são os protetores da capoeira;<br>
                <br>
                2 –  Os patos e os gansos são dos poucos animais da natureza que andam, nadam e voam; <br>
                <br>
                3 – Os gansos e patos têm penas impermeáveis. <br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
