<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_explica.png" style="width:65px;height:55px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Eu como laranjas de inverno para nunca ficar constipado!</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/mapa/PIs/PI_27.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             Os citrinos é uma família de frutos onde se englobam os limões, as laranjas e as tangerinas. <br>São árvores típicas de climas quentes, sendo que a laranjeira é a árvore mais cultivada do mundo.
            </p>
            <p style="text-align: left;">
             Estes frutos são muito ricos em vitamina C, pelo que ao comê-los estou mais protegido das gripes e constipações.
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - Laranjas, limões e tangerinas estão incluídas na família dos citrinos;<br>
                <br>
                2 - A laranjeira é a árvore mais cultivada do Mundo;<br>
                <br>
                3 - Estes frutos são ricos em Viamina C, protegendo de gripes e constipações.<br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
