<ion-view view-title="Região de interesse G">
  <ion-content padding="true" class="padding">
    <p>Região de interesse E</p>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/">Mapa</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_26">Ponto de interesse 26</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_27">Ponto de interesse 27</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_28">Ponto de interesse 28</a>
  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
