<!--<br>-->
<!--<div>-->
<!--<img src="img/SNP.jpg" style="width:100px;height:100px;">-->
<!--</div>-->
<!--<br>-->
<!--<p class="APPcenter">-->
<!--Legenda-->
<!--</p>-->

<!--<p class="APPcenter">-->
<!--Anda daí!-->
<!--</p>--><!--</p>-->
<h4>Legenda</h4>
<div style="width: 100%; height: 10px; box-shadow: 0 5px 10px -3px #999;"></div>
<div class="game_help" style="height: 390px">
  <ion-scroll scrollbar-y="true" style="height: 100%">
    <br>
    <h5>O que significam as cores no mapa?</h5>
    <p style="text-align: left;">
      Aqui vamos te explicar o que é necessário fazer para teres acesso a todos os conteudos e desafios que temos
      para ti.
    </p>
    <br>
    <ul>
      <li>
        <h5 align="center">Região com acesso ao conteúdo e acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_green.png">


        <p>Passou fisicamente pela região </p>
        <p>Visualizou conteúdos de todos os pontos de interesse</p>
        <p>Tem acesso aos desafios</p>
      </li>
      <br>
      <li>
        <h5 align="center">Região com acesso ao conteúdo mas sem acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_orange.png">

        <p>Passou fisicamente pela região</p>
        <p>Não visualizou conteúdos de todos os pontos de interesse</p>
        <p>Não tem acesso aos desafios</p>
      </li>
      <br>
      <li>
        <h5 align="center">Região sem acesso ao conteúdo e sem acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_red.png">

        <p>Não passou fisicamente pela região</p>
        <p>Não tem acesso aos conteúdos</p>
        <p>Não tem acesso aos desafios</p>
      </li>
    </ul>
  </ion-scroll>
</div>

