<h4>Legenda</h4>
<div style="width: 100%; height: 10px; box-shadow: 0 5px 10px -3px #999;"></div>
<div class="desafios_help" style="height: 260px">
  <ion-scroll scrollbar-y="true" style="height: 100%">
    <br>
    <h5>O que significam as cores no mapa?</h5>
    <p style="text-align: left;">
      Aqui vamos te explicar o que é necessário fazer para teres acesso a todos os conteudos e desafios que temos
      para ti.
    </p>
    <br>
    <ul>
      <li>
        <h5 align="center">Região com acesso ao conteúdo e acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_green_90_2.png">


        <p style="text-align: left;">Passaste pela região </p>
        <p style="text-align: left;">Viste os conteúdos de todos os pontos de interesse</p>
        <p style="text-align: left;">Tens acesso aos desafios</p>
      </li>
      <br>
      <li>
        <h5 align="center">Região com acesso ao conteúdo mas sem acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_orange_90_2.png">

        <p style="text-align: left;">Passaste pela região</p>
        <p style="text-align: left;">Não viste os conteúdos de todos os pontos de interesse</p>
        <p style="text-align: left;">Não tens acesso aos desafios</p>
      </li>
      <br>
      <li>
        <h5 align="center">Região sem acesso ao conteúdo e sem acesso aos desafios</h5>
        <img src="img/mapa/marcadores/RI_A_red_90_2.png">

        <p style="text-align: left;">Não passaste pela região</p>
        <p style="text-align: left;">Não tens acesso aos conteúdos</p>
        <p style="text-align: left;">Não tens acesso aos desafios</p>
      </li>
    </ul>
  </ion-scroll>
</div>
