<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_professor.png">
          <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">Esta é a árvore que para além de uma bela sombra no verão,
            dá também a cortiça para fazer as rolhas e muitas outras coisas! </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/mapa/PIs/PI_15.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              O sobreiro é uma árvore da floresta Mediterrânica que segundo alguns investigadores, existe há cerca de 60 milhões de anos.<br>
               Em Portugal existe apenas na Estremadura e no Alentejo.
            </p>
            <p style="text-align: left;"> O fruto do sobreiro chama-se bolota e quem gosta muito de comer este fruto é o porco preto.  <br>
              Para além do fruto, esta árvore dá igualmente algo de muito útil: a cortiça! Para retirar a primeira cortiça temos de esperar 25 anos e depois só se pode retirar mais cortiça de 9 em 9 anos.<br>
              Portugal é o maior produtor de cortiça do mundo!
            </p>
            <p style="text-align: left;"> O sobreiro é uma árvore de folha semi-persistente que renova algumas das suas folhas entre os meses de abril e junho.
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 – O sobreiro existe há 60 milhões de anos;<br>
                <br>
                2 – O fruto desta árvore chama-se bolota e é muito apreciado pelo porco preto; <br>
                <br>
                3 – Esta é a árvore da cortiça. Primeira cortiça aos 25 anos e depois de 9 em 9 anos; <br>
                <br>
                4 – Portugal é o maior produtor de cortiça do Mundo; <br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
