<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_professor.png"  style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Estas arvores são tão altas que as consigo ver de casa.</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated fadeIn" src="img/mapa/PIs/PI_12.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Esta árvore dá frutos com um nome igual à capital da Síria: Damasco e foram deixados em Portugal pelos árabes. <br>
              Esta árvore é uma das mais antigas que se conhece, uma vez que há relatos sobre a sua existência desde o ano 2.000 a.C. na China.
            </p>
            <p style="text-align: left;">Os damasqueiros são árvores de fruto altas, que têm entre 3 e 10 metros de altura e as sua as flores aparecem no verão.
            </p>
            <p style="text-align: left;">
              O damasco é uma fruta muito versátil que tem muitas utilizações diferentes.
              Pode ser consumido de forma natural, como em sumos, como fruta seca ou mesmo sobre a forma de compota ou licor.
            </p>
                      <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 – Tem o mesmo nome da capital da Síria;<br>
                <br>
                2 – É conhecido pelo menos desde ano 2.000 a.C. na China; <br>
                <br>
                3 – Damasqueiros têm entre 3 e 10 metros de altura ; <br>
                <br>
                4 – O damasco é uma fruta com várias utilizações: natural, sumos, como fruta seca, compotas e licores; <br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
