<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_fome.png"  style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Comeste marmelada hoje? Ficas a saber que a melhor marmelada é feita a partir dos marmelos como estes!</p>
        </ion-item>
        <!--<img class="APPimgPI img-responsive " src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI img-responsive  animated fadeIn" src="img/mapa/PIs/PI_23.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Olha estes belos marmelos! Os marmeleiros estão normalmente associados a zonas húmidas.<br>
              Eu gosto muito de comer este fruto sobre a forma de marmelada. E se for marmelada com pinhões ou nozes ainda melhor!
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - A marmelada é feita a partir de marmelos;<br>
                <br>
                2 - Os marmeleiros costumam  estar junto a zonas húmidas. <br>
                <br>

              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
