<ion-view view-title="Ponto de interesse 20">
  <!--<ion-content padding="true" class="padding">-->
    <!--<p>Ponto de interesse 20</p>-->
    <!--<a class="button button-block button-calm" href="#/tab/regiao/RI_E/">Regiao de interesse E</a>-->
    <!--<a class="button button-block button-calm" href="#/tab/mapa">Mapa</a>-->
  <!--</ion-content>-->
  <ion-content scroll-event-interval="5">

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://www.aliok.com.tr/post-assets/code/img/mcfly.jpg">

        <h2>Marty McFly</h2>

        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://www.aliok.com.tr/post-assets/code/img/delorean.jpg">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>

        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <!--======================= Item 2 =====================-->
    <div class="list card">

      <div class="item item-avatar">
        <img src="http://www.aliok.com.tr/post-assets/code/img/brown.jpg">

        <h2>Dr. Emmett Brown</h2>

        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://www.aliok.com.tr/post-assets/code/img/delorean.jpg">

        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>

        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
