<ion-view view-title="Região de interesse E">
  <ion-content padding="true" class="padding">
    <p>Região de interesse E</p>
    <a class="button button-block button-calm" href="#/tab/mapa">Mapa</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_19">Ponto de interesse 19</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_20">Ponto de interesse 20</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_21">Ponto de interesse 21</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_22">Ponto de interesse 22</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_E/PI_23">Ponto de interesse 23</a>
  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
