<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_aponta.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Eu gosto de comer em casa, mas as minhas amigas cabras e ovelhas gostam de vir comer aqui fora!</p>
        </ion-item>
        <!--<img class="APPimgPI img-responsive " src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI img-responsive  animated fadeIn" src="img/mapa/PIs/PI_25.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             Ao contrário do que acontece no sobreiral, onde não se pode fazer cultivo devido à sombra dos sobreiros, no Montado a densidade de árvores é menor e por isso pode-se aproveitar o terreno para cultivo.
            </p>
            <p style="text-align: left;">
             As bolotas são o fruto dos Sobreiros, Carvalhos e Azinheiras que aqui existem. Para além das terras para cultivo, este terreno é também bom para o gado pastar.
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - No montado há aproveitamento dos terrenos para cultivo;<br>
                <br>
                2 - A bolota é o fruto dos Sobreiros, Carvalhos e Azinheiras;<br>
                <br>
                3 - Estes terrenos servem também para o gado pastar. <br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
