<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_certo.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Quando começa o ano como sempre uma romã porque dizem que dá sorte! </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated fadeIn" src="img/mapa/PIs/PI_24.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             A romã é um fruto que é conhecido há mais de 2000 anos e que tem propriedades muitos boas para a saúde, uma vez que é rica em vitaminas A, C e E.
            </p>
            <p style="text-align: left;">
             Tem origem no médio oriente e é um fruto com uma casca bastante resistente e com um interior feito de pequenas sementes com polpa comestível.
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - É uma fruta já conhecida há mais de 2.000 anos;<br>
                <br>
                2 - É rica em vitaminas A, C e E;<br>
                <br>
                3 - Tem casca dura e o interior é feito de pequenas sementes com polpa comestível.<br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
