<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" style="width: 65px;" src="img/galo_desenho.png"/>
          <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">Estes frutos de cor laranja são as nêsperas!</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/mapa/PIs/PI_31.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             Já te tinha falado das romãs, mas as nêsperas também são muito boas! A nespereira é uma árvore com umas folhas muito grandes e resistentes.
            </p>
            <p style="text-align: left;">
             Esta árvore vem da China. Apesar de ter um tamanho e textura muito diferentes, a nêspera é muito parecida na sua composição a uma maçã.
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - A nespereira é uma árvore que veio da China;<br>
                <br>
                2 - A composição da nêspera é semelhante à da maçã;<br>
                <br>
                3 - As folhas da nespereira são grandes e resistentes.<br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
