<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_apresenta.png">
          <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">As abóboras não servem apenas para fazer máscaras! São muito boas para as sopas e para as compotas! As amoras são também muito boas para compotas!</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg" src="img/mapa/PIs/PI_30.jpg"
             ng-image-appear responsive transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             Aposto que já viste máscaras de Halloween feitas de abóbora! Mas a abóbora é um fruto muito bom para fazer ricas sopas e compotas.
            </p>
            <p style="text-align: left;">
             A amoreira dá-nos as lindas amoras que têm um sabor e uma textura únicas! Alem das amoras as amoreiras têm umas folhas muito apetitosas para os bichos-da-seda que se alimentam delas.
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - A abóbora é um fruto;<br>
                <br>
                2 - As abóboras são muito boas para fazer sopas ou compotas;<br>
                <br>
                3 - As folhas da amoreira são utilizadas para alimentar os bichos-da-seda.<br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
