<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_explica.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Sabes que o girassol está sempre a olhar para o sol? Não sei como não se aleija no pescoço... </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated fadeIn" src="img/mapa/PIs/PI_33.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
             O girassol tem este nome porque a sua grande flor gira em função do sol.<br>
             Esta planta é originária da América do Norte.
            </p>
            <p style="text-align: left;">
             As sementes do girassol são muito ricas em óleo pelo que se usam para extrair o óleo de girassol que, tal como o azeite, é um óleo muito saudável.
            </p>

            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
            <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - A flor do girassol está sempre virada para o sol;<br>
                <br>
                2 - As sementes são usadas para extrair óleo de girassol;<br>
                <br>
                3 - O girassol é originário da América do Norte.<br>
                <br>
              </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
