<ion-view view-title="Região de interesse H">
  <ion-content padding="true" class="padding">
    <p>Região de interesse E</p>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/">Mapa</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_29">Ponto de interesse 29</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_30">Ponto de interesse 30</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_31">Ponto de interesse 31</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_32">Ponto de interesse 32</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_G/PI_33">Ponto de interesse 33</a>
  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
