<ion-view view-title="{{$root.PI_descricao}}"  cache-view="false">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="thumb_pantufas" src="img/pantufas_PIs/pantufas_apresenta.png"  style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Esta é a minha fonte de água cristalina, pura e fresquinha! Pena não poder beber daqui...</p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI  animated fadeIn" src="img/mapa/PIs/PI_3.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Mas ainda bem que água não falta aqui na Quinta! Esta aqui é usada para regar a horta!
            </p>
            <p style="text-align: left;">
              Sabes que os poços servem para nós conseguirmos aceder à água que está no subsolo. Para encontrar esta água foi preciso escavar 4 metros!
            </p>
            <p style="text-align: left;">
              Vou-te explicar como aparece esta água: a água evapora nos grandes oceanos e formam-se nuvens. O vento empurra as nuvens para a terra e depois chove. É assim que podemos encontrar água no subsolo.<br>
            </p>
            <p style="text-align: left;">
              Tu deves beber 2 litros de água por dia! Afinal de contas o teu corpo é 70% de água e precisas de manter esse nível! Eu como sou mais pequeno só preciso de 2 litros por semana! <br>
            </p>
            <p style="text-align: left;">
              Estás a ouvir um cantar lindo?... Vem ver quem são!<br>
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->

           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - Um poço normal tem entre 3 a 5 metros de profundidade;<br>
                <br>
                2 - Ciclo da água: água oceanos evapora, forma nuvens, chove, rios levam água para oceanos;<br>
                <br>
                3 - 70% do nosso corpo é água: devemos beber pelo menos 2 litros de água por dia.<br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
