<ion-view view-title="{{$root.PI_descricao}}">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" style="width: 65px;" src="img/galo_desenho.png"/>
          <p style="margin-left: -30px; margin-top: 0px;" align="center" class="textWrap">Estes meus vizinhos são pequenos, mas tenho de admitir que cantam muito bem! </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimgPI" src="img/mapa/PIs/PI_4.jpg"
             ng-image-appear transition-duration="2s" animation="fadeIn" animation-duration="2s"
             easing="ease-out">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              Eu não tenho dinheiro para comprar um sistema de som, mas tenho música de alta qualidade todos os dias com estes meus vizinhos!<br>
              Devem ter aprendido a cantar comigo!
            </p>
            <p style="text-align: left;">
              Os periquitos são muito exigentes com a sua comida para se poderem manter elegantes. Eles nunca podem comer abacate ou alface porque faz-lhe muito mal.
            </p>
            <p style="text-align: left;">
              No caso das rolas é muito difícil saber quem são eles e elas… Mas se olhares para os olhos, vais reparar que eles são os que têm a auréola laranja mais carregada. Já os periquitos fêmeas distinguem-se dos machos pela cor do nariz - eles têm o nariz azul!<br>
            </p>
            <p style="text-align: left;">
              Vem daí visitar o meu condomínio!
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
          </div>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 - Periquitos não podem comer abacate ou alface porque faz mal;<br>
                <br>
                2 - Machos das rolas têm auréola laranja dos olhos mais carregada;<br>
                <br>
                3 - Periquitos macho têm o nariz azul.<br>
                <br>
              </p>
           </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
