<ion-view view-title="Caça ao código QR"  cache-view="false">

  <ion-content class="QRcode" class="padding" ng-controller="BarCodeReaderController">

    <div ng-init="startQR('RI_A');" ng-if="!startted">
    </div>
    <!--<div ng-init="start();" ng-if="!startted">-->
    <!--<h4 align="center" style="color: #444;">Caça ao código QR?</h4>-->
    <!--<h5 align="center" style="color: #444;">Ganhas 20 pontos por cada código QR encontrado,-->
    <!--vamos à caça?</h5>-->

    <!--<button ng-click="startQR()" class="button button-balanced APPcenter">Vamos!</button>-->
    <!--</div>-->

    <div class="APPheader">
         <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
         <img class="thumb_pantufas" src="img/pantufas_PIs/pantufas_explica.png" style="width:80px;height:80px;">
         <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Estás preparado? <br> Vamos fazer o jogo da caça ao QR Code. Tens de conseguir ler um código QR de um ponto de interesse desta região, vai, descobre e ganha! </p>
       </ion-item>
    </div>
    <div>
      <br>
     <table class="table-fill">
       <tr>
         <th height="40">Pontos de interesse da região</th>
       </tr>
       <tr>
         <td class="text-center">
           <ion-list class="list-borderless">
             <ion-item id="PI_{{item.id}}" ng-click="listClick($index)" ng-repeat="item in PIs" class="animated fadeInLeft">
                 <h3 align="center" style="width: 100%" class="">{{item.descricao}}</h3>
             </ion-item>
           </ion-list>
         </td>
       </tr>
     </table>
     <br>
    </div>
    <div class="QRList" ng-if="startted">
         <button ng-click="getBarcode()" class="button button-next APPcenter">Iniciar caça ao QRCode<i
           class="icon ion-qr-scanner"></i>
         </button>
         <br>
    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
