<ion-view view-title="Caça ao código QR" cache-view="false">
  <ion-content class="QRcode" class="padding" ng-controller="BarCodeReaderController">

    <div ng-if="!startted">
      <h4 align="center" style="color: #444;">Caça ao código QR?</h4>
      <h5 align="center" style="color: #444;">Ganhas 20 pontos por cada código QR encontrado,
        vamos à caça?</h5>

      <button ng-click="startQR('RI_A')" class="button button-balanced APPcenter">Vamos!</button>
    </div>

    <div ng-if="startted" class="button-bar">
      <div class="score" ng-class="view.buttonClass">
        <span>Score {{view.buttonStart}}</span>
      </div>
      <div class="score energized">
        <span ng-click="stopQR()">Stop</span>
      </div>
    </div>

    <div class="QRList" ng-if="startted">

      <br>
      <button ng-click="getBarcode()" class="button button-calm APPcenter">Caça QRode <i
        class="icon ion-qr-scanner"></i>
      </button>
      <br>
      <ion-list>

        <ion-item id="PI_{{item.id}}" ng-click="listClick($index)" ng-repeat="item in PIs"
                  class="animated fadeInLeft">

          <h4 align="center" style="width: 100%" class="">{{item.descricao}} Score: {{item.score}}</h4>

        </ion-item>
      </ion-list>

    </div>

    <!--<div ng-controller="PopupCtrl"></div>-->
  </ion-content>
</ion-view>
