<ion-view view-title="Região de interesse A">
  <!--<ion-content padding="true" class="padding" scroll="false" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()" ng-init="init()">-->
  <ion-content padding="true" class="padding" scroll="false">
    <p>Região de interesse D</p>
    <a class="button button-block button-calm" href="#/tab/regiao/ALL/">Mapa</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_1">Ponto de interesse 1</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_2">Ponto de interesse 2</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_3">Ponto de interesse 3</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_A/PI_4">Ponto de interesse 4</a>
  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
