<ion-view view-title="Mapa da Quinta Pedagógica">
  <ion-nav-buttons>
    <button class="button button-clear icon icon-left ion-chevron-left" ng-click="goBack()">
      <i class="mynav icon-left ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <!--button-color="{{(regiao.quizDone && regiao.completed)  ? '#33cd5f': ''}}{{(regiao.completed && !regiao.quizDone)  ? '#fec659': ''}}{{(!regiao.completed && !regiao.quizDone)  ? '#ec6157': ''}}"-->
  <ion-floating-button ng-if="regiao.radius" button-class="" click="goQuiz()" has-footer="true"
  button-color="{{(regiao.quizDone && regiao.completed)  ? '#33cd5f': ''}}{{(regiao.completed && !regiao.quizDone)  ? '#fec659': ''}}{{(!regiao.completed && !regiao.quizDone)  ? '#ec6157': ''}}"
                       icon="ion-clipboard"
                       iconColor="#fff">
  </ion-floating-button>
  <!--button-color="#ec6157"-->

  <ion-content class="APPmain">
    <div class="APPcenter">
      <canvas class="speedGPU" id="imageView" style="width: 320px; height: auto; position: relative;"></canvas>
      <canvas class="speedGPU" id="imageView2" style="width: 320px; height: auto; position: fixed;"></canvas>
      <img class="captionCanvas animated bounce" id="marcador"
           ng-src="img/mapa/marcadores/{{marcador ? marcador : 'marcador_galo.png'}}"
           style="width: 60px; height: 65px">
      <img class="helpCanvas" id="legenda" ng-click="showLegenda()"
           ng-src="img/mapa/marcadores/legenda.png"
           style="width: 30px; height: auto">
    </div>
    <!--<HR style="box-shadow: 0 8px 6px -6px #999;">-->
    <!--<div style="width: 100%; height: 20px; box-shadow: 0 10px 20px -6px #999;"></div>-->
    <div style="width: 100%; height: 10px;"></div>
    <ion-item ng-show="regiao.headeron" id="headerOn" class="item-thumbnail-left item-borderless list-item">
    <!--  <img class="" style="width: 65px;" src="img/galo_desenho.png"/> -->
    <img class="thumb_pantufas" src="img/pantufas_PIs/pantufas_explica.png" style="width:80px;height:80px;">
      <p style="margin-left: -10px; margin-top: 0px;" align="center" class="textWrapSmall">{{regiao.banner}}</p>
      <span ng-click="closeHeader()" class="captionPIs" style="font-size: small">[<a href="" style="opacity:1;"
                                                                                     class="subdued button-small button-light ion-close"></a> ]
      </span>
    </ion-item>

    <div class="speedGPU">
      <ion-scroll class="mapa">
        <ion-list class="list-borderless">

          <ion-item ng-click="goPI(PI)" ng-repeat="PI in regiao.PIs"
                    class="item-thumbnail-left item-icon-right">

            <img class="myAvatar" ng-src="img/mapa/PIs/{{PI.nome}}_thumb.png">
            <h2><br></h2>
            <h2>{{PI.descricao}}</h2>
            <!--<h4 class="textWrap">{{PI.descricao}}</h4>-->
            <i class="icon ion-chevron-right icon-accessory"></i>
            <p>
              Visitado:
              <a href=""
                 class="{{ PI.visited ? 'balanced' : 'assertive'}} button-small button-light {{ PI.visited ? 'ion-checkmark' : 'ion-close'}}"></a>
            </p>
            <!--<ion-option-button class="button-positive"-->
            <!--ng-click="clickedLike(item)">-->
            <!--Like-->
            <!--</ion-option-button>-->

          </ion-item>
        </ion-list>
      </ion-scroll>
    </div>

    <!--<div ng-if="!regiao.radius" class="padding">-->
    <!--</div>-->

    <!--<button type="button" ng-click="unlock_regiao()" class="button button-balanced APPcenter">Desbloquear Regiao D</button>-->
    <!--</ion-item>-->

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
