<div class="APPheader">
     <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
     <img class="thumb_pantufas" src="img/pantufas_PIs/pantufas_explica.png" style="width:80px;height:80px;">
     <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Com este botão podes ler qualquer QRCode que esteja na
       quinta para que possas saber tudo sobre o ponto de interesse
     </p>
</div>
<div>
  <br>
<table class="table-fill">
   <tr>
     <th height="40">Pontos de interesse da região</th>
   </tr>
   <tr>
     <td class="text-center">
       <ion-list class="list-borderless">
         <ion-item id="PI_{{item.id}}" ng-click="listClick($index)" ng-repeat="item in PIs" class="animated fadeInLeft">
             <h3 align="center" style="width: 100%" class="">{{item.descricao}}</h3>
         </ion-item>
       </ion-list>
     </td>
   </tr>
 </table>
 <br>
</div>
