<ion-view view-title="{{$root.PI_descricao}}" cache-view="false">

  <ion-content class="has-header has-tabs APPmain" scroll="true">

    <div class="APPfull">
      <div class="APPheader">
        <ion-item class="item-thumbnail-left item-borderless list-item animated slideInRight">
          <img class="" src="img/pantufas_PIs/pantufas_professor.png" style="width:80px;height:80px;">
          <p style="margin-left: 2px; margin-top: 0px;" align="center" class="textWrap">Esta é uma árvore muito inteligente! É muito elegante e alta, porque sabe aproveitar muito bem a água da chuva e o orvalho da manhã!
             É a partir dela que se faz o papel dos cadernos que tu usas na escola! </p>
        </ion-item>
        <!--<img class="APPimg" src="img/atividades_quinta_pedagogica.jpg">-->
        <img class="APPimg animated fadeIn" src="img/mapa/PIs/PI_16.jpg">
        <!--<img class="animated slideInUp" src="img/atividades/SNP_background_arborismo.jpg">-->
      </div>

      <div class="APPmain padding">

        <ion-list class="list-borderless detalheAtividade">
          <div class="list-item animated fadeInUpBig padding">
            <!--<h3 align="center">ARBORISMO</h3>-->
            <p style="text-align: left;">
              O eucalipto (Eucaliptus globulus) é uma árvore com origem na Austrália e foi trazido para Portugal há cerca de 200 anos.<br>
              É a madeira ideal para produzir todo o tipo de papel.
            </p>
            <p style="text-align: left;">O Eucalipto é uma árvore muito eficiente, pelo que cresce rapidamente em cerca de 10 anos.
              Depois do primeiro corte, o eucalipto volta a crescer e assim sucessivamente.
              Para além da sua madeira ser usada para fazer papel, as suas folhas são muito oleosas e esse óleo é usado na indústria cosmética e farmacêutica.
            </p>
            <!--<br>-->
            <!--<h3 align="left">Informação adicional</h3>-->
            <br>
           <div class="paraLembrar">
              <h4>Para lembrar</h4>
              <br>
              <p style="text-align: left;">
                1 – O eucalipto foi trazido da Austrália há cerca de 200 anos atrás;<br>
                <br>
                2 – É a melhor madeira para produzir papel; <br>
                <br>
                3 – Demora cerca de 10 anos a crescer; <br>
                <br>
                4 – Depois de cortado, o eucalipto volta a crescer; <br>
                <br>
                5 – As folhas têm óleo que é usado na cosmética e indústria farmacêutica. <br>
                <br>
               </p></div>
          </div>
        </ion-list>
      </div>

    </div>

    <div ng-controller="PopupCtrl"></div>
  </ion-content>
</ion-view>
