<ion-view view-title="Região de interesse D">
  <ion-content padding="true" class="padding">
    <p>Região de interesse D</p>
    <a class="button button-block button-calm" href="#/tab/mapa">Mapa</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_16">Ponto de interesse 16</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_17">Ponto de interesse 17</a>
    <a class="button button-block button-calm" href="#/tab/regiao/RI_D/PI_18">Ponto de interesse 18</a>
  </ion-content>
  <div ng-controller="PopupCtrl"></div>
</ion-view>
