@font-face {
  font-family: 'Brandon';
  src: url("font/Brandon_med.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
}

* {
  /*font-family: 'Brandon', SansSerif !important;*/
  /*font-size:16px;*/
}

/* Empty. Add your own CSS if you like */
body {
  /*font-size:18px;*/
  /*cursor: url('../img/finger.png'), auto;*/
  /*cursor: pointer;*/
  /** {*/
  /*font-family: 'Brandon';*/
  /*font-size:16px;*/
  /*}*/
}

/*.slider {*/
/*height: 100%;*/
/*}*/

/*.slider-slide {*/
/*padding-top: 80px;*/
/*color: #000;*/
/*background-color: #fff;*/
/*text-align: center;*/

/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/*font-weight: 300;*/
/*}*/

#logo {
  margin: 30px 0px;
}

.APPlist {
  width: 170px;
  margin: 30px auto;
  font-size: 22px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.tabela-header {
  border: 1px;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px;
  margin: 30px 10px;
}

.button.ng-hide {
  display: none;
}

.popup-body {
  padding: 10px;
  overflow: auto;
  text-align: center;
}

.APPcenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card, .list-inset {
  overflow: hidden;
  margin: 30px 10px;
  border-radius: 2px;
  background-color: #fff;
}

/*.slider-pager {*/
/*position: absolute;*/
/*bottom: 0px;*/
/*z-index: 1;*/
/*width: 100%;*/
/*height: 15px;*/
/*text-align: center;*/
/*}*/
/*.slider-slide {*/
/*padding-top: 20px;*/
/*color: #000;*/
/*background-color: #fff;*/
/*text-align: center;*/
/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
/*font-weight: 300;*/
/*}*/
.myPopup > .popup {
  border-radius: 5px !important;
  width: 250px;
  max-height: 331px;
}

.myPopup .popup-head {
  padding: 5px;
  opacity: 0;
}

.myPopupLegenda > .popup {
  border-radius: 5px !important;
  width: 330px;
  max-height: 400px;
}

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
  /*style="width:300px;height:300px;margin:auto;display:block"*/
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0, 0, 0, 0.7);
}

.slider {
  width: 100%;
  height: 100%;
}

.image {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
  /*background-position-y: 100px;*/
}

.image_smalldevice {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*background-position: center, center;*/
  /*background-position-y: 100px;*/
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center, center;
  /*height: 640px;*/
}

.image_full {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.wordWrap {
  white-space: normal; /* CSS3 */
  /*white-space: -moz-pre-wrap; !* Firefox *!*/
  /*white-space: -pre-wrap;     !* Opera <7 *!*/
  /*white-space: -o-pre-wrap;   !* Opera 7 *!*/
  /*word-wrap: break-word;      !* IE *!*/
  /*white-space: normal;*/
}

/*.APPheader {*/
/*height: 50%;*/
/*}*/
/*.APPmain {*/
/*height: 50%;*/
/*}*/
/*.APPmain .scroll-view {*/
/*!*position: static;*!*/
/*display: block;*/
/*overflow: hidden;*/
/*margin-top: -1px;*/
/*}*/
.APPmain .textWrap {
  white-space: normal;
  line-height: 120%;
}

.APPfull {
  width: 100%;
  height: 100%;
}

.APPimg {
  /*width: 100%;*/
  /*height: 100%;*/
}

/*Tinder cards PI*/

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.td-text {
  position: absolute;
  top: 120px;
  right: 10px;
  /*font-size: 30px;*/
  /*color: rgb(255, 115, 115);*/
  /*color: black;*/
  opacity: 1;
  /*padding-left: 15px;*/
  /*#cssDisplay {*/
  /*background-color: #94D1FF;*/
  color: #000000;
  padding: 15px;
  font-family: 'trebuchet ms', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

/* animation */
/*.item.list-item.ng-enter-stagger {*/
/*-webkit-transition-delay: 0.3s;*/
/*transition-delay: 0.3s;*/
/*}*/

/*.item.list-item.ng-enter {*/
/*transition: 0.25s linear all;*/
/*!*transform: rotate(50deg);*!*/
/*!*animation: slideInRight;*!*/
/*opacity: 0;*/
/*}*/

/*.item.list-item.ng-enter.ng-enter-active {*/
/*!*transform: rotate(0deg);*!*/
/*opacity: 1;*/
/*}*/

.chat-item.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.chat-item.ng-enter {
  /*-webkit-animation: fadeInLeft 1s;*/
  /*animation: fadeInLeft 1s;*/

  transition: 0.5s linear all;
  transform: rotate(50deg);
  opacity: 0;
}

.chat-item.ng-enter.ng-enter-active {
  transform: rotate(0deg);
  opacity: 1;
}

.qr-item.ng-enter-stagger {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;

  /* override to make sure it's not inherited from other styles */
  /*-webkit-animation-duration:0;*/
  /*animation-duration:0;*/
}

.qr-item.ng-enter {
  -webkit-animation: fadeInRight 1.5s;
  animation: fadeInRight 1.5s;
}

/*.qr-item.ng-enter.ng-enter-active {*/
/*transform: rotate(0deg);*/
/*opacity: 1;*/
/*}*/

/* slidebox*/

.slider {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.slider-pager {*/
/*top: initial;*/
/*bottom: 60px !important;*/
/*}*/

/* SCORE */

.score {
  width: 50%;
  /*margin-top:05px;*/
  margin-bottom: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  font-size: large;
}

.myanimated {
  -webkit-animation-duration: 0.99s;
  animation-duration: 0.99s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes mytada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.mytada {
  -webkit-animation-name: mytada;
  animation-name: mytada;
}

/*  */

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

.repeated-item.ng-enter-stagger {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*.QRbody {*/

/*}*/

/* a list items da caça ao qr */

.QRcode.QRlist {
  margin-bottom: 30px;
}

/*  avatar  */

.tm.tm-scroll.mascoteAvatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/galo_desenho.png');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.mascoteAvatarDesenho {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/galo_desenho.png');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.userAvatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/SNP_small.jpg');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

/* MODAL Caption*/

.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}

.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}

.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.caption {
  right: 10px;
  top: 15px;
  position: absolute;
}

.captionCanvas {
  right: 0px;
  top: 10px;
  position: absolute;
}

.captionPIs {
  right: 10px;
  bottom: 15px;
  /*top: 0px;*/
  position: absolute;
}

.captionAtividades {
  right: 10px;
  top: 15px;
  position: absolute;
}

.settingLogo {
  right: 0px;
  top: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
}

/*.timeline-panel {*/
/*margin-right: 5px;*/
/*margin-top: 5px;*/
/*}*/

.newFont {
  /*font-family: Brandon, serif;*/
  /*display: inline-block;*/
  /*width: 100%;*/
  /*max-height: 100%;*/
  /*vertical-align: middle;*/
  /*overflow: hidden;*/
  /*line-height: normal;*/
}

/* LOGIN */

.myAvatar {
  width: 65px;
  height: 65px;;
}

.avatar {
  /*width: 100%;*/
  /*margin: auto;*/
  /*width: 65px;*/
  /*border-radius: 100px;*/
  /*height: 65px;*/
  /*background: #448ed3 ;*/
  /*position: relative;*/
  /*bottom: -15px;*/
}

.avatarLogin img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
  border: 3px solid #fff;
  display: block;
}

.avatar img {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  margin: auto;
  border: 3px solid #fff;
  display: block;
}

.mybody {
  /*font-family: "Helvetica Neue", Helvetica, Arial;*/
  font-size: 1em;
}

form {
  padding-top: 2em;
  /*min-width: 440px;*/
  max-width: 700px;
  width: 90%;
  margin: auto;
  /* easeInOutQuart */
  opacity: 0;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
}

form fieldset {
  display: block;
}

form fieldset .input-container:last-child {
  border-bottom-width: 0px;
}

form legend {
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  color: #71767C;
  border-bottom: 1px solid #71767C;
  width: 50%;
  height: 2em;
  line-height: 2em;
}

form .input-container {
  width: 100%;
  position: relative;
  height: 2.9em;
  border: 0px solid #ECECEC;
  border-bottom-width: 1px;
}

form #first-name, form #postal {
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border-right-width: 1px;
}

form #last-name, form #city {
  float: right;
  box-sizing: border-box;
  display: inline-block;
}

form #last-name label, form #last-name input, form #city label, form #city input {
  /*padding: 1px 0.4em 1px 0.4em;*/
}

form #last-name + *, form #city + * {
  clear: both;
}

form #first-name, form #last-name {
  width: 100%;
}

form #postal {
  width: 25%;
  border-bottom: 0px;
}

form #city {
  width: 75%;
}

form input {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  top: 1.2em;
  background: none;
  z-index: 1;
  padding: 1px;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial;
  letter-spacing: 0.012em;
}

form label {
  font-family: "Helvetica Neue", Helvetica, Arial;
  display: block;
  position: absolute;
  margin-top: -6px;
  padding: 1px;
  letter-spacing: 0.012em;
  color: #ACACAC;
  font-size: 1em;
  -webkit-animation-name: labelIn;
  animation-name: labelIn;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

form input:focus + label, form input:valid + label {
  -webkit-animation-name: labelOut;
  animation-name: labelOut;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

@-webkit-keyframes labelIn {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}

@keyframes labelIn {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}

@-webkit-keyframes labelOut {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}

@keyframes labelOut {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}

form *:focus {
  outline: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* atividade detalhe*/

.detalheAtividade {
  font-size: 18px;
  /*opacity: 0.9;*/
}

.APPmain {
  font-size: 18px;
  line-height: 130%;
  /*line-height: 110%;*/

  /*opacity: 0.85;*/
}

/* progress bar */

.Gamebody {
  font: 13px/20px "Brandon", Tahoma, Verdana, sans-serif;
  color: #404040;
  font-size: medium;
  /*background: #2a2a2a;*/
  margin-top: -15px;
}

.container {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 5%;
}

.container .progress {
  margin: 0 auto;
  width: 100%;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
#zero:checked ~ .progress > .progress-bar {
  width: 0%;
  background-color: #FFFFFF;
  color: #FFFFFF;
  /*background-color: #f63a0f;*/
}

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

/* radial progress*/

.progress-pie-chart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}

.progress-pie-chart.gt-50 {
  background-color: #81CE97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  clip: rect(0, 50px, 50px, 25px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  clip: rect(0, 25px, 50px, 0);
  background: #81CE97;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 25px, 50px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 50px, 50px, 25px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 33.33333px / 2);
  top: calc(50% - 33.33333px / 2);
  width: 33.33333px;
  height: 33.33333px;
  background: #fff;
  text-align: center;
  display: table;
}

.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #81CE97;
}

.pcc-percents-wrapper {
  display: table-cell;
  font-size: 5px;
  vertical-align: middle;
}

/*body {*/
/*font-family: Arial;*/
/*background: #f7f7f7;*/
/*}*/

.progress-pie-chart {
  margin: 5px auto 0;
}

.radialLabelRegioes {
  position: relative;
  top: -25px;
  left: -5px;
}

.radialLabelPontos {
  position: relative;
  top: -25px;
  left: -40px;
}

/* quiz */

/*#options {*/
/*margin: 10px 0;*/
/*}*/

/*.next-question {*/
/*margin-right: 10px;*/
/*}*/

/*#score {*/
/*margin-top: 10px;*/
/*font-size: 18px;*/
/*font-weight: bold;*/
/*}*/

/*@import url(http://fonts.googleapis.com/css?family=Cabin:700);*/

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.25em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
/*[type="radio"]:focus + span:after {*/
/*content: '\0020\2190';*/
/*font-size: 1.5em;*/
/*line-height: 1;*/
/*vertical-align: -0.125em;*/
/*}*/

/* Nothing to see here. */
/*body {*/
/*margin: 3em auto;*/
/*max-width: 30em;*/
/*font-family: Cabin, serif;*/
/*}*/

fieldset {
  /*color: #ffe8a3;*/
  font-size: 0.75em;
  border: 2px solid #000;
  padding: 2em;
  border-radius: 0.5em;
}

.button-next {
  /*background: #ffe8a3;*/
  color: #000;
  background: #f19562;
  border-radius: 4px;
  font-size: 0.9em;
}

.button-desafios {
  border-radius: 19px;
  /*background-color: ;*/
}

.button-next-login {
  color: #000;
  /*background: #ffe8a3;*/
  background: #f19562;
  border-radius: 4px;
  font-size: 0.9em;
}

.button-next-loginfb {
  color: #000;
  /*background: #ffe8a3;*/
  background: #8b9dc3;
  border-radius: 1em;
  font-size: 0.9em;
}

.popup-buttons .button {
  border-radius: 1em;
}

.button-popup {
  /*background: #ffe8a3;*/
  background: #f19562;
  border-radius: 1em;
  /*font-size: 0.9em;*/
}

legend {
  line-height: 1.6;
  /*color: #fff;*/
  font-size: 1em;
  margin-top: 15px;
  background: #fec659;
  /*background: #ffe8a3;*/
  padding: 0em 1em;
  border-radius: 1em;
}

/*.p {*/
/*text-align: center;*/
/*font-size: 10px;*/
/*padding-top: 120px;*/
/*}*/

/* swipe slider text */

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px;
}

.swiper-container {
  width: 100%;
  height: 120px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* canvas */

.imageView {
  width: 320px;
  /*height: 199px;*/
  padding-top: 15px;
  position: relative;
  /*padding-bottom: 10px;*/
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  /*overflow: hidden;*/
  /*z-index: 1000;*/
}

.paraLembrar {
  background-image: none;
  background-color: #b4a797;
  background-size: auto;
  border-radius: 4px;
  background-position: center center;
  background-repeat: repeat;
  padding: 10px;
}

.APPimgPI {
  width: 420px;
}

/* CSS para listas dos níveis, badges e recompensas*/

.desafios_help ul {

  list-style-type: none;
  padding: 0px
}

.desafios_help li img {
  float: left;
}

.desafios_help p {
  padding-left: 4px;

}

.desafios_help li {
  overflow: auto;
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.49804);
  border-radius: 4px;
  /* color: #999999; */
  /* line-height: 90px; */
  padding-top: 20px;
  padding-left: 2px;
  padding-bottom: 20px;
  padding-right: 7px;
  /* font-size: 24px; */
  /* font-weight: 400; */
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.desafios_help li:hover {
  background: #eee;
  cursor: pointer;
}

.desafios_help table {
  table-layout: fixed;
  width: 300px;
}

/* CSS para tabela do status dos desafios*/

.tab-game div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.tab-game .table-title h3 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Brandon", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.tab-game .table-fill {
  background: white;
  border-radius: 4px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.tab-game th {

  color: #000000;
  background: #fec659;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 12px;
  padding: 12PX;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;

}

.tab-game th:first-child {
  border-top-left-radius: 3px;
}

.tab-game th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

.tab-game tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.tab-game tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

.tab-game tr:first-child {
  border-top: none;
}

.tab-game tr:last-child {
  border-bottom: none;
}

.tab-game tr:nth-child(odd):hover td {
  background: #4E5066;
}

.tab-game tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

.tab-game tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

.tab-game td {

  background: #FFFFFF;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;

  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.tab-game td:last-child {
  border-right: 0px;
}

.tab-game th.text-left {
  text-align: left;
}

.tab-game th.text-center {
  text-align: center;
}

.tab-game th.text-right {
  text-align: right;
}

.tab-game td.text-left {
  text-align: left;
}

.tab-game td.text-center {
  text-align: center;
}

.tab-game td.text-right {
  text-align: right;
}

/* popups */

.popup-container .popup {
  max-width: 85%;
  max-height: 400px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}

.popup-head {
  padding: 5px;
}

.myPopupLegenda .popup-head {
  padding: 5px;
  opacity: 0;
}

.helpCanvas {
  right: 14px;
  top: 140px;
  position: absolute;
}

.speedGPU {
  -webkit-transform: translateZ(0);
}

/*inicio badges*/

.startBadges {
  border-right: 0px solid #C1C3D1;
  /*opacity: 0.5;*/
  -webkit-filter: grayscale(100%);
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
}

.clearBadge {
  -webkit-filter: grayscale(0%);
}

.thumb_pantufas {
  width: 65px;
  height: 55px;
  left: 25px;
}

.item-thumbnail-left {
  /*margin-left: 25px;*/
}

/* current RI*/

.here {
  filter:brightness(200%);
}

/* header */

.SNPbar {
  background-color: #fec659;
}

.SNPtabs {
  border-color: #fec659;
  background-color: #fec659;
  /* background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%); */
  color: #000;
}

/*.tabs-positive > .tabs, .tabs.tabs-positive {*/
.SNPtabs {
  border-color: #fec659;
  background-color: #fec659;
  color: #000;
}

.tabs-icon-top .tabs {
  border-color: #fec659;
  background-color: #fec659;
  color: #000;
}
.tab-striped .tab {
  border-color: #fec659;
  background-color: #fec659;
  color: #000;
}
