/* Empty. Add your own CSS if you like */
body {
/*cursor: url('../img/finger.png'), auto;*/
/*cursor: pointer;*/
}
/*.slider {*/
  /*height: 100%;*/
/*}*/

/*.slider-slide {*/
  /*padding-top: 80px;*/
  /*color: #000;*/
  /*background-color: #fff;*/
  /*text-align: center;*/

  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 300;*/
/*}*/

#logo {
  margin: 30px 0px;
}

.APPlist {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide {
  display: none;
}

.popup-body {
  padding: 10px;
  overflow: auto;
  text-align: center;
}

.APPcenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card, .list-inset {
  overflow: hidden;
  margin: 30px 10px;
  border-radius: 2px;
  background-color: #fff;
}

/*.slider-pager {*/
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*z-index: 1;*/
  /*width: 100%;*/
  /*height: 15px;*/
  /*text-align: center;*/
/*}*/
/*.slider-slide {*/
  /*padding-top: 20px;*/
  /*color: #000;*/
  /*background-color: #fff;*/
  /*text-align: center;*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 300;*/
/*}*/

.myPopup > .popup { border-radius: 5px !important; }

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
  /*style="width:300px;height:300px;margin:auto;display:block"*/
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
  width: 100%;
  height: 100%;
}

.image {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
  /*background-position-y: 100px;*/
}

.image_smalldevice {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*background-position: center, center;*/
  /*background-position-y: 100px;*/
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center, center;
  /*height: 640px;*/
}

.image_full {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.wordWrap {
  white-space: normal;      /* CSS3 */
  /*white-space: -moz-pre-wrap; !* Firefox *!*/
  /*white-space: -pre-wrap;     !* Opera <7 *!*/
  /*white-space: -o-pre-wrap;   !* Opera 7 *!*/
  /*word-wrap: break-word;      !* IE *!*/
  /*white-space: normal;*/
}

.APPheader {
  height: 30%;
}
.APPmain {
  height: 70%;
}
/*.APPmain .scroll-view {*/
  /*!*position: static;*!*/
  /*display: block;*/
  /*overflow: hidden;*/
  /*margin-top: -1px;*/
/*}*/
.APPmain .textWrap {
  white-space: normal;
}

.APPfull {
  width: 100%;
  height: 100%;
}

.APPimg {
  width: 100%;
  height: 100%;
}

/*Tinder cards PI*/

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

/* animation */
.item.list-item.ng-enter-stagger {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.item.list-item.ng-enter {
  transition: 0.25s linear all;
  /*transform: rotate(50deg);*/
  /*animation: slideInRight;*/
  opacity: 0;
}

.item.list-item.ng-enter.ng-enter-active {
  /*transform: rotate(0deg);*/
  opacity: 1;
}

/*.item.chat-item.ng-enter-stagger {*/
  /*-webkit-transition-delay: 0.3s;*/
  /*transition-delay: 0.3s;*/
/*}*/

/*.item.chat-item.ng-enter {*/
  /*transition: 0.25s linear all;*/
  /*transform: rotate(50deg);*/
  /*opacity: 0;*/
/*}*/

/*.item.chat-item.ng-enter.ng-enter-active {*/
  /*transform: rotate(0deg);*/
  /*opacity: 1;*/
/*}*/

/* slidebox*/

.slider{
  position: absolute !important;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-pager {
  top: initial;
  bottom: 60px !important;
}
