@font-face {
  font-family: 'Brandon';
  src: url("font/Brandon_reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-size:16px;
}
* {
font-family: 'Brandon', SansSerif !important;
/*font-size:16px;*/
}
/* Empty. Add your own CSS if you like */
body {
  font-size:18px;
/*cursor: url('../img/finger.png'), auto;*/
/*cursor: pointer;*/
  /** {*/
  /*font-family: 'Brandon';*/
  /*font-size:16px;*/
/*}*/
}

/*.slider {*/
  /*height: 100%;*/
/*}*/

/*.slider-slide {*/
  /*padding-top: 80px;*/
  /*color: #000;*/
  /*background-color: #fff;*/
  /*text-align: center;*/

  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 300;*/
/*}*/

#logo {
  margin: 30px 0px;
}

.APPlist {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

#list ol {
  margin-top: 30px;
}

#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide {
  display: none;
}

.popup-body {
  padding: 10px;
  overflow: auto;
  text-align: center;
}

.APPcenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card, .list-inset {
  overflow: hidden;
  margin: 30px 10px;
  border-radius: 2px;
  background-color: #fff;
}

/*.slider-pager {*/
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*z-index: 1;*/
  /*width: 100%;*/
  /*height: 15px;*/
  /*text-align: center;*/
/*}*/
/*.slider-slide {*/
  /*padding-top: 20px;*/
  /*color: #000;*/
  /*background-color: #fff;*/
  /*text-align: center;*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  /*font-weight: 300;*/
/*}*/

.myPopup > .popup { border-radius: 5px !important; }

.image-list-thumb {
  padding: 2px 2px 2px 2px;
  height: 100px;
  /*style="width:300px;height:300px;margin:auto;display:block"*/
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.transparent {
  background: rgba(0,0,0,0.7);
}

.slider {
  width: 100%;
  height: 100%;
}

.image {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
  /*background-position-y: 100px;*/
}

.image_smalldevice {
  /*width: 480px;*/
  width: 100%;
  height: 640px;
  /*height: auto;*/
  /*background-size: contain;*/
  background-repeat: no-repeat;
  /*background-position: center, center;*/
  /*background-position-y: 100px;*/
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center, center;
  /*height: 640px;*/
}

.image_full {
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.wordWrap {
  white-space: normal;      /* CSS3 */
  /*white-space: -moz-pre-wrap; !* Firefox *!*/
  /*white-space: -pre-wrap;     !* Opera <7 *!*/
  /*white-space: -o-pre-wrap;   !* Opera 7 *!*/
  /*word-wrap: break-word;      !* IE *!*/
  /*white-space: normal;*/
}

/*.APPheader {*/
  /*height: 50%;*/
/*}*/
/*.APPmain {*/
  /*height: 50%;*/
/*}*/
/*.APPmain .scroll-view {*/
  /*!*position: static;*!*/
  /*display: block;*/
  /*overflow: hidden;*/
  /*margin-top: -1px;*/
/*}*/
.APPmain .textWrap {
  white-space: normal;
}

.APPfull {
  width: 100%;
  height: 100%;
}

.APPimg {
  /*width: 100%;*/
  /*height: 100%;*/
}

/*Tinder cards PI*/

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/

td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.td-text {
  position: absolute;
  top: 120px;
  right: 10px;
  /*font-size: 30px;*/
  /*color: rgb(255, 115, 115);*/
  /*color: black;*/
  opacity: 1;
  /*padding-left: 15px;*/
  /*#cssDisplay {*/
  /*background-color: #94D1FF;*/
  color: #000000;
  padding: 15px;
  font-family: 'trebuchet ms', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

/* animation */
/*.item.list-item.ng-enter-stagger {*/
  /*-webkit-transition-delay: 0.3s;*/
  /*transition-delay: 0.3s;*/
/*}*/

/*.item.list-item.ng-enter {*/
  /*transition: 0.25s linear all;*/
  /*!*transform: rotate(50deg);*!*/
  /*!*animation: slideInRight;*!*/
  /*opacity: 0;*/
/*}*/

/*.item.list-item.ng-enter.ng-enter-active {*/
  /*!*transform: rotate(0deg);*!*/
  /*opacity: 1;*/
/*}*/

.chat-item.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.chat-item.ng-enter {
  /*-webkit-animation: fadeInLeft 1s;*/
  /*animation: fadeInLeft 1s;*/

  transition: 0.5s linear all;
  transform: rotate(50deg);
  opacity: 0;
}

.chat-item.ng-enter.ng-enter-active {
  transform: rotate(0deg);
  opacity: 1;
}

.qr-item.ng-enter-stagger {
  -webkit-animation-delay:180ms;
  animation-delay:180ms;

  /* override to make sure it's not inherited from other styles */
  /*-webkit-animation-duration:0;*/
  /*animation-duration:0;*/
}

.qr-item.ng-enter {
  -webkit-animation: fadeInRight 1.5s;
  animation: fadeInRight 1.5s;
}

/*.qr-item.ng-enter.ng-enter-active {*/
  /*transform: rotate(0deg);*/
  /*opacity: 1;*/
/*}*/


/* slidebox*/

.slider{
  position: absolute !important;
  top: 0 ;
  bottom: 0;
  left: 0;
  right: 0;
}

/*.slider-pager {*/
  /*top: initial;*/
  /*bottom: 60px !important;*/
/*}*/

/* SCORE */

.score {
  width: 50%;
  margin-top: 15px;
  margin-bottom: auto;
  /* margin-left: auto; */
  /* margin-right: auto; */
  text-align: center;
  font-size: x-large;
}

.myanimated {
  -webkit-animation-duration: 0.99s;
  animation-duration: 0.99s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes mytada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.mytada {
  -webkit-animation-name: mytada;
  animation-name: mytada;
}

/*  */

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

.repeated-item.ng-enter-stagger {
  -webkit-animation-delay:180ms;
  animation-delay:180ms;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*.QRbody {*/

/*}*/


/* a list items da caça ao qr */

.QRcode.QRlist {
  margin-bottom: 30px;
}

 /*  avatar  */

.tm.tm-scroll.mascoteAvatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/cards/galo2.jpg');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

.mascoteAvatarDesenho {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/galo_desenho.png');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
.userAvatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../img/SNP_small.jpg');

  /* make a square container */
  width: 50px;
  height: 50px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}


/* MODAL Caption*/

.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.caption {
  right: 10px;
  top: 15px;
  position: absolute;
}
.captionAtividades {
  right: 10px;
  top: 15px;
  position: absolute;
}
.settingLogo {
  right: 0px;
  top: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
}

/*.timeline-panel {*/
  /*margin-right: 5px;*/
  /*margin-top: 5px;*/
/*}*/

.newFont {
  /*font-family: Brandon, serif;*/
  /*display: inline-block;*/
  /*width: 100%;*/
  /*max-height: 100%;*/
  /*vertical-align: middle;*/
  /*overflow: hidden;*/
  /*line-height: normal;*/
}


/* LOGIN */

.avatar {
  /*width: 100%;*/
  /*margin: auto;*/
  /*width: 65px;*/
  /*border-radius: 100px;*/
  /*height: 65px;*/
  /*background: #448ed3 ;*/
  /*position: relative;*/
  /*bottom: -15px;*/
}
.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  border:3px solid #fff;
  display: block;
}

.mybody {
  /*font-family: "Helvetica Neue", Helvetica, Arial;*/
  font-size: 1em;
}

form {
  padding-top: 2em;
  /*min-width: 440px;*/
  max-width: 700px;
  width: 80%;
  margin: auto;
  /* easeInOutQuart */
  opacity: 0;
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.175s 1 normal forwards;
}
form fieldset {
  display: block;
}
form fieldset .input-container:last-child {
  border-bottom-width: 0px;
}
form legend {
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  color: #71767C;
  border-bottom: 1px solid #71767C;
  width: 50%;
  height: 2em;
  line-height: 2em;
}
form .input-container {
  width: 100%;
  position: relative;
  height: 2.9em;
  border: 0px solid #ECECEC;
  border-bottom-width: 1px;
}
form #first-name, form #postal {
  float: left;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border-right-width: 1px;
}
form #last-name, form #city {
  float: right;
  box-sizing: border-box;
  display: inline-block;
}
form #last-name label, form #last-name input, form #city label, form #city input {
  padding: 1px 0.4em 1px 0.4em;
}
form #last-name + *, form #city + * {
  clear: both;
}
form #first-name, form #last-name {
  width: 100%;
}
form #postal {
  width: 25%;
  border-bottom: 0px;
}
form #city {
  width: 75%;
}
form input {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  top: 1.2em;
  background: none;
  z-index: 1;
  padding: 1px;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial;
  letter-spacing: 0.012em;
}
form label {
  font-family: "Helvetica Neue", Helvetica, Arial;
  display: block;
  position: absolute;
  margin-top: 2px;
  padding: 1px;
  letter-spacing: 0.012em;
  color: #ACACAC;
  font-size: 1em;
  -webkit-animation-name: labelIn;
  animation-name: labelIn;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
form input:focus + label, form input:valid + label {
  -webkit-animation-name: labelOut;
  animation-name: labelOut;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
@-webkit-keyframes labelIn {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}
@keyframes labelIn {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}
@-webkit-keyframes labelOut {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}
@keyframes labelOut {
  0% {
    left: 1px;
    opacity: 1;
    top: 1.2em;
    font-size: 1em;
    font-weight: 300;
  }
  50% {
    font-size: 1em;
    left: 1em;
    opacity: 0;
    top: 1.2em;
    font-weight: 300;
  }
  50.01% {
    font-size: 0.65em;
    left: 1em;
    opacity: 0;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
  100% {
    font-size: 0.65em;
    opacity: 1;
    left: 1px;
    top: 0.2em;
    color: #0075d5;
    font-weight: 400;
  }
}
form *:focus {
  outline: 0;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
